<div>
    <a class="" href="{{url}}">
        <picture>
            <!-- Serve the AVIF format if the browser supports it -->
            <!-- Remove this block when using animated images as feature images -->
            <source 
                srcset="{{img_url feature_image size="s" format="avif"}} 300w,
                        {{img_url feature_image size="m" format="avif"}} 600w,
                        {{img_url feature_image size="l" format="avif"}} 1000w,
                        {{img_url feature_image size="xl" format="avif"}} 2000w"
                sizes="(min-width: 1400px) 1400px, 92vw" 
                type="image/avif"
            >
            <!-- Serve the WebP format if the browser supports it -->
            <source 
                srcset="{{img_url feature_image size="s" format="webp"}} 300w,
                        {{img_url feature_image size="m" format="webp"}} 600w,
                        {{img_url feature_image size="l" format="webp"}} 1000w,
                        {{img_url feature_image size="xl" format="webp"}} 2000w"
                sizes="(min-width: 1400px) 1400px, 92vw" 
                type="image/webp"
            >
            <!-- Serve original file format as a fallback -->
            <img
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="(min-width: 1400px) 1400px, 92vw"
                src="{{img_url feature_image size="xl"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                class="{{#if short}} h-[200px] sm:h-[150px] w-full sm:w-[250px] {{else}} h-[280px] sm:h-[250px] md:h-[280px] w-full {{/if}}  object-cover object-center hover:scale-[101%] border dark:border-[#333]"
            >
        </picture>
    </a>
    {{#if primary_tag}}
        <div class="tags flex items-center gap-2 mt-3">
            {{#foreach tags}}
                <a href="{{url}}" class="bg-gray-100 hover:bg-red-500 hover:text-white dark:hover:bg-red-500 dark:hover:text-white text-gray-800 text-xs font-medium mr-2 px-3 py-1 rounded dark:bg-gray-700 dark:text-gray-300">{{name}}</a>
            {{/foreach}}
        </div>
    {{/if }}
    <a href="{{url}}" class="{{#if short}} text-sm {{else}}lg:text-[20px] {{/if  }} hover:text-red-600 dark:hover:text-red-500 mt-3 inline-block">{{title}}</a>
    {{#unless short}}
        <div class="author flex items-center gap-3 mt-3">
            <a href="{{primary_author.url}}">
                <img src="{{primary_author.profile_image}}" class="rounded-full h-12 w-12" alt="{{ primary_author.name }} profile picture">
            </a>
            <div class="user">
                <a href="{{primary_author.url}}" class="font-bold hover:text-red-500 hover:underline">{{primary_author.name}}</a>
                <p class="text-sm text-gray-600 dark:text-gray-300">{{date}}</p>
            </div>
        </div>
    {{/unless  }}
</div>