<section class="relative pt-24 bg-black overflow-hidden">    
  <div class="relative max-w-[1200px] px-4 mx-auto">
    <div class="flex gap-12 flex-col lg:flex-row border-b border-gray-900 pb-12">
      <div class="w-full lg:w-[40%]">
        {{#if @site.logo}}
          <a href="{{@site.url}}" class="inline-block">
            {{!-- <img src="{{@site.logo}}" alt="{{@site.title}}" class="{{#if @custom.dark_mode_logo}}dark:hidden{{/if}}"> --}}
            {{#if @custom.dark_mode_logo}}
              <img src="{{@custom.dark_mode_logo}}" alt="{{@site.title}}" class="">
            {{/if}}
          </a>
        {{else}}
          <a href="{{@site.url}}" class="text-white inline-block">
            {{@site.title}}
          </a>
        {{/if}}
        <p class="text-gray-400 font-medium leading-relaxed mt-6 md:max-w-xs">{{@site.description}}</p>
        <ul class="flex gap-3 mt-6">

          {{#if @custom.facebook }}
            <li class="">
              <a href="{{ @custom.facebook }}">
                <div class="flex items-center justify-center w-9 h-9 border border-gray-800 hover:border-gray-900 rounded-full">
                  <svg width="9" height="16" viewBox="0 0 9 16" fill="#D4D4D8" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.81589 5.30371L5.81589 3.80371C5.81589 3.15371 5.97379 2.80371 7.07905 2.80371H8.44747V0.303711L6.34221 0.303711C3.71063 0.303711 2.658 1.95371 2.658 3.80371V5.30371H0.552734L0.552734 7.80371H2.658L2.658 15.3037H5.81589L5.81589 7.80371H8.13168L8.44747 5.30371H5.81589Z"></path>
                  </svg>
                </div>
              </a>
            </li>
          {{/if }}

          {{#if @custom.twitter }}
            <li class="">
              <a href="{{ @custom.twitter }}">
                <div class="flex items-center justify-center w-9 h-9 border border-gray-800 hover:border-gray-900 rounded-full">
                  <svg width="15" height="13" viewBox="0 0 15 13" fill="#D4D4D8" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.8462 2.25418C14.306 2.48722 13.7182 2.65493 13.1126 2.72025C13.7413 2.34675 14.2121 1.75669 14.4367 1.06076C13.8467 1.41171 13.2004 1.6578 12.5265 1.78811C12.2448 1.48698 11.9041 1.24708 11.5257 1.08337C11.1472 0.919662 10.7391 0.835644 10.3268 0.836555C8.65848 0.836555 7.31676 2.18886 7.31676 3.84835C7.31676 4.08139 7.34501 4.31442 7.39091 4.53863C4.89285 4.40799 2.6649 3.21457 1.18372 1.38736C0.913833 1.84834 0.772403 2.37322 0.774144 2.90739C0.774144 3.95251 1.30553 4.87406 2.11586 5.41604C1.63832 5.39724 1.17197 5.26598 0.754725 5.03295V5.07002C0.754725 6.53355 1.78926 7.74639 3.16804 8.02533C2.90916 8.09257 2.64285 8.12697 2.37537 8.12772C2.17941 8.12772 1.99404 8.1083 1.80691 8.08182C2.18824 9.27524 3.29868 10.1421 4.62098 10.1703C3.58645 10.9806 2.29063 11.4573 0.8836 11.4573C0.631146 11.4573 0.398112 11.4485 0.15625 11.4202C1.4909 12.2764 3.07448 12.7708 4.77987 12.7708C10.3162 12.7708 13.3456 8.18421 13.3456 4.2032C13.3456 4.07256 13.3456 3.94192 13.3368 3.81128C13.9229 3.38228 14.4367 2.85089 14.8462 2.25418Z"></path>
                  </svg>
                </div>
              </a>
            </li>
          {{/if }}

          {{#if @custom.instagram }}
            <li class="">
              <a href="{{ @custom.instagram }}">
                <div class="flex items-center justify-center w-9 h-9 border border-gray-800 hover:border-gray-900 rounded-full">
                  <svg width="17" height="17" viewBox="0 0 17 17" fill="#D4D4D8" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.5 0.803711C6.329 0.803711 6.056 0.813711 5.203 0.851711C4.35 0.891711 3.769 1.02571 3.26 1.22371C2.72609 1.42453 2.24249 1.73954 1.843 2.14671C1.43608 2.54641 1.12111 3.02995 0.92 3.56371C0.722 4.07171 0.587 4.65371 0.548 5.50371C0.51 6.35871 0.5 6.63071 0.5 8.80471C0.5 10.9767 0.51 11.2487 0.548 12.1017C0.588 12.9537 0.722 13.5347 0.92 14.0437C1.125 14.5697 1.398 15.0157 1.843 15.4607C2.287 15.9057 2.733 16.1797 3.259 16.3837C3.769 16.5817 4.349 16.7167 5.201 16.7557C6.055 16.7937 6.327 16.8037 8.5 16.8037C10.673 16.8037 10.944 16.7937 11.798 16.7557C12.649 16.7157 13.232 16.5817 13.741 16.3837C14.2746 16.1828 14.7578 15.8678 15.157 15.4607C15.602 15.0157 15.875 14.5697 16.08 14.0437C16.277 13.5347 16.412 12.9537 16.452 12.1017C16.49 11.2487 16.5 10.9767 16.5 8.80371C16.5 6.63071 16.49 6.35871 16.452 5.50471C16.412 4.65371 16.277 4.07171 16.08 3.56371C15.8789 3.02994 15.5639 2.54639 15.157 2.14671C14.7576 1.73939 14.274 1.42436 13.74 1.22371C13.23 1.02571 12.648 0.890711 11.797 0.851711C10.943 0.813711 10.672 0.803711 8.498 0.803711H8.501H8.5ZM7.783 2.24571H8.501C10.637 2.24571 10.89 2.25271 11.733 2.29171C12.513 2.32671 12.937 2.45771 13.219 2.56671C13.592 2.71171 13.859 2.88571 14.139 3.16571C14.419 3.44571 14.592 3.71171 14.737 4.08571C14.847 4.36671 14.977 4.79071 15.012 5.57071C15.051 6.41371 15.059 6.66671 15.059 8.80171C15.059 10.9367 15.051 11.1907 15.012 12.0337C14.977 12.8137 14.846 13.2367 14.737 13.5187C14.6087 13.8661 14.404 14.1801 14.138 14.4377C13.858 14.7177 13.592 14.8907 13.218 15.0357C12.938 15.1457 12.514 15.2757 11.733 15.3117C10.89 15.3497 10.637 15.3587 8.501 15.3587C6.365 15.3587 6.111 15.3497 5.268 15.3117C4.488 15.2757 4.065 15.1457 3.783 15.0357C3.4355 14.9076 3.12113 14.7033 2.863 14.4377C2.59675 14.1797 2.39172 13.8654 2.263 13.5177C2.154 13.2367 2.023 12.8127 1.988 12.0327C1.95 11.1897 1.942 10.9367 1.942 8.79971C1.942 6.66371 1.95 6.41171 1.988 5.56871C2.024 4.78871 2.154 4.36471 2.264 4.08271C2.409 3.70971 2.583 3.44271 2.863 3.16271C3.143 2.88271 3.409 2.70971 3.783 2.56471C4.065 2.45471 4.488 2.32471 5.268 2.28871C6.006 2.25471 6.292 2.24471 7.783 2.24371V2.24571ZM12.771 3.57371C12.6449 3.57371 12.5201 3.59854 12.4036 3.64679C12.2872 3.69503 12.1813 3.76574 12.0922 3.85489C12.003 3.94403 11.9323 4.04986 11.8841 4.16633C11.8358 4.28281 11.811 4.40764 11.811 4.53371C11.811 4.65978 11.8358 4.78461 11.8841 4.90109C11.9323 5.01756 12.003 5.12339 12.0922 5.21253C12.1813 5.30168 12.2872 5.37239 12.4036 5.42064C12.5201 5.46888 12.6449 5.49371 12.771 5.49371C13.0256 5.49371 13.2698 5.39257 13.4498 5.21253C13.6299 5.0325 13.731 4.78832 13.731 4.53371C13.731 4.2791 13.6299 4.03492 13.4498 3.85489C13.2698 3.67485 13.0256 3.57371 12.771 3.57371ZM8.501 4.69571C7.95607 4.68721 7.41489 4.7872 6.90898 4.98985C6.40306 5.19251 5.94251 5.49378 5.55415 5.87613C5.16579 6.25849 4.85736 6.71428 4.64684 7.21697C4.43632 7.71966 4.3279 8.25921 4.3279 8.80421C4.3279 9.34921 4.43632 9.88876 4.64684 10.3915C4.85736 10.8941 5.16579 11.3499 5.55415 11.7323C5.94251 12.1146 6.40306 12.4159 6.90898 12.6186C7.41489 12.8212 7.95607 12.9212 8.501 12.9127C9.57954 12.8959 10.6082 12.4556 11.365 11.687C12.1217 10.9183 12.5459 9.88288 12.5459 8.80421C12.5459 7.72554 12.1217 6.69012 11.365 5.92146C10.6082 5.1528 9.57954 4.71254 8.501 4.69571ZM8.501 6.13671C9.20833 6.13671 9.88669 6.4177 10.3869 6.91786C10.887 7.41802 11.168 8.09638 11.168 8.80371C11.168 9.51104 10.887 10.1894 10.3869 10.6896C9.88669 11.1897 9.20833 11.4707 8.501 11.4707C7.79367 11.4707 7.11531 11.1897 6.61515 10.6896C6.11499 10.1894 5.834 9.51104 5.834 8.80371C5.834 8.09638 6.11499 7.41802 6.61515 6.91786C7.11531 6.4177 7.79367 6.13671 8.501 6.13671Z"></path>
                  </svg>
                </div>
              </a>
            </li>
          {{/if }}


          {{#if @custom.github }}
            <li class="">
              <a href="{{ @custom.github }}">
                <div class="flex items-center justify-center w-9 h-9 border border-gray-800 hover:border-gray-900 rounded-full">
                  <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="#D4D4D8" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                  </svg>
                </div>
              </a>
            </li>
          {{/if }}


          {{#if @custom.gitlab }}
            <li class="">
              <a href="{{ @custom.gitlab }}">
                <div class="flex items-center justify-center w-9 h-9 border border-gray-800 hover:border-gray-900 rounded-full">
                  <svg class="h-4 w-4" viewBox="0 0 110 110" fill="#D4D4D8" aria-hidden="true">
                      <path d="M22 2.5L36 44.5H73.5L87.5 2.5L94 13L107.5 63L54.5 106.5L18 79L2 63L8.5 42L22 2.5Z"></path>
                      <path d="M109.675 61.6173L103.818 42.1097C103.82 42.1185 103.821 42.1276 103.824 42.1364C103.821 42.1262 103.819 42.116 103.817 42.1059L103.816 42.1041L92.1889 3.39146C91.5528 1.35216 89.8027 -0.0164943 87.7962 0.000350745C85.7839 0.0115808 84.0818 1.35391 83.4594 3.42129L72.4226 40.1662H37.5978L26.5402 3.41884C25.9185 1.35322 24.2161 0.01123 22.2041 0C22.1959 0 22.1882 0 22.1797 0C20.1986 0 18.4449 1.36023 17.802 3.42234L6.20639 42.0995L6.20476 42.1045V42.1055C6.20184 42.1153 6.20054 42.1252 6.19762 42.135C6.20022 42.1262 6.2012 42.1171 6.20379 42.1083L0.325181 61.6173C-0.559125 64.5624 0.40047 67.7629 2.71362 69.5825L53.4731 109.466C53.4806 109.472 53.489 109.475 53.4965 109.481C53.5182 109.498 53.5393 109.515 53.5614 109.531C53.5406 109.516 53.5212 109.5 53.5007 109.484C53.504 109.487 53.5075 109.488 53.5111 109.491C53.514 109.493 53.5169 109.494 53.5199 109.496L53.5212 109.497C53.5997 109.556 53.6812 109.61 53.7655 109.66C53.7772 109.667 53.7876 109.676 53.7993 109.682C53.8064 109.686 53.8136 109.692 53.8207 109.695C53.8262 109.698 53.8321 109.7 53.8372 109.703C53.8411 109.705 53.8454 109.706 53.8493 109.708C53.8587 109.713 53.869 109.716 53.8785 109.721C53.9226 109.744 53.969 109.763 54.0144 109.783C54.0569 109.802 54.0982 109.824 54.1416 109.84C54.1436 109.841 54.1452 109.842 54.1472 109.843C54.1543 109.846 54.1608 109.849 54.1683 109.852C54.1773 109.856 54.1861 109.86 54.1952 109.863C54.1988 109.864 54.2023 109.865 54.2059 109.866C54.2173 109.869 54.2296 109.871 54.2409 109.875C54.2452 109.876 54.25 109.877 54.2546 109.878C54.3156 109.898 54.3789 109.913 54.4418 109.928C54.4665 109.934 54.4902 109.942 54.5152 109.947C54.5187 109.948 54.522 109.949 54.5259 109.95C54.534 109.952 54.5414 109.955 54.5499 109.956C54.5632 109.959 54.5762 109.963 54.5898 109.965C54.6005 109.967 54.6115 109.966 54.6222 109.968L54.6278 109.968H54.6294C54.7491 109.987 54.8705 110 54.9942 110H54.9964H54.9984C55.1223 110 55.2437 109.987 55.3638 109.968H55.3651L55.3709 109.968C55.3816 109.966 55.393 109.967 55.4037 109.965C55.4173 109.963 55.4303 109.959 55.4439 109.956C55.452 109.955 55.4595 109.952 55.4676 109.95C55.4712 109.949 55.4744 109.948 55.478 109.947C55.5033 109.942 55.5277 109.933 55.553 109.927C55.6149 109.913 55.6773 109.898 55.7379 109.879C55.7422 109.877 55.7464 109.877 55.7506 109.875C55.7626 109.872 55.7749 109.87 55.7869 109.866C55.7905 109.865 55.7944 109.864 55.798 109.863C55.8074 109.86 55.8165 109.856 55.8256 109.852C55.8327 109.849 55.8392 109.846 55.8463 109.843C55.8483 109.842 55.8499 109.841 55.8518 109.84C55.8979 109.823 55.9414 109.8 55.9865 109.78C56.0284 109.761 56.0712 109.744 56.1121 109.723C56.1222 109.718 56.1329 109.714 56.1426 109.709C56.1465 109.707 56.1511 109.706 56.1549 109.703C56.1605 109.701 56.1663 109.699 56.1718 109.696C56.1793 109.692 56.1864 109.687 56.1936 109.683C56.2056 109.676 56.2166 109.666 56.2286 109.659C56.3123 109.61 56.3935 109.556 56.4717 109.498C56.4778 109.493 56.485 109.49 56.4915 109.485C56.4931 109.483 56.495 109.483 56.4967 109.481C56.5041 109.475 56.5129 109.471 56.5203 109.466L107.288 69.5815C109.6 67.7629 110.559 64.5624 109.675 61.6173ZM87.8284 7.01805L97.7845 40.1662H77.8722L87.8284 7.01805ZM96.0409 45.7714L91.9783 51.4008L62.0144 92.9192L76.1883 45.7714H96.0409ZM47.9862 92.922L13.9782 45.7714H33.8321L47.9862 92.922ZM22.1726 7.0177L32.1472 40.1662H12.2349L22.1726 7.0177ZM5.76148 65.0488C5.26951 64.6617 5.06571 63.9784 5.25426 63.3509L9.62419 48.8484L41.6442 93.2427L5.76148 65.0488ZM53.3839 109.392C53.3738 109.383 53.3641 109.374 53.3544 109.364C53.3524 109.363 53.3505 109.36 53.3482 109.358C53.3287 109.341 53.3096 109.323 53.2908 109.305C53.2538 109.27 53.2174 109.235 53.1827 109.197C53.1856 109.2 53.1889 109.203 53.1918 109.205C53.1957 109.209 53.1999 109.213 53.2038 109.216C53.2781 109.293 53.3563 109.366 53.4381 109.432L53.4407 109.435C53.4446 109.438 53.4478 109.442 53.4517 109.445C53.4293 109.428 53.406 109.411 53.3839 109.392ZM54.9984 98.1278L46.6697 70.383L39.2817 45.7714H70.7381L54.9984 98.1278ZM56.7031 109.305C56.6836 109.323 56.6648 109.341 56.645 109.359C56.6427 109.361 56.6404 109.363 56.6381 109.366C56.6281 109.374 56.6187 109.384 56.6089 109.393C56.5875 109.411 56.5642 109.428 56.5418 109.446C56.5457 109.443 56.5489 109.439 56.5531 109.436L56.5551 109.434C56.6369 109.367 56.7147 109.295 56.7884 109.218C56.7913 109.215 56.7949 109.213 56.7978 109.21C56.8017 109.206 56.8059 109.203 56.8095 109.199C56.7751 109.235 56.7391 109.27 56.7031 109.305ZM104.24 65.0477L68.3623 93.234L100.393 48.8519L104.745 63.3481C104.934 63.9784 104.731 64.6617 104.24 65.0477Z"></path>
                  </svg>
                </div>
              </a>
            </li>
          {{/if }}


          {{#if @custom.linkedin }}
            <li class="">
              <a href="{{ @custom.linkedin }}">
                <div class="flex items-center justify-center w-9 h-9 border border-gray-800 hover:border-gray-900 rounded-full">
                  <svg class="h-4 w-4" viewBox="0 0 30 30" fill="#D4D4D8">
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7166 9.64216H16.6448V12.681L16.7305 12.6812C17.5561 11.2002 19.5749 9.64234 22.585 9.64234C28.8449 9.64216 30.0027 13.5375 30.0027 18.6049V28.9274L23.8203 28.9276V19.7771C23.8203 17.5957 23.7749 14.7877 20.6056 14.7877C17.3866 14.7877 16.8933 17.1622 16.8933 19.6182V28.9276H10.7166V9.64234V9.64216ZM6.43062 4.28518C6.43062 6.05962 4.99053 7.49953 3.21598 7.49953C1.44142 7.49953 0.000793457 6.05953 0.000793457 4.28518C0.000793457 2.51073 1.44142 1.07073 3.21598 1.07073C4.99053 1.07073 6.43062 2.51073 6.43062 4.28518ZM0.000793457 9.64216H6.43062V28.9275H0.000793457V9.64216Z"></path>
                    </g>
                  </svg>
                </div>
              </a>
            </li>
          {{/if }}

        </ul>
      </div>

      <div class="w-full lg:w-[60%] grid sm:grid-cols-3 gap-12"> 
        <div class="">
          <h3 class="text-sm text-gray-600 uppercase font-semibold leading-normal tracking-px">Company</h3>
          <ul class="mt-4 flex flex-col gap-3">
            <li><a class="text-white hover:text-gray-200 font-medium leading-relaxed" href="/about">About Us</a></li>
            <li><a class="text-white hover:text-gray-200 font-medium leading-relaxed" href="/contact">Contact Us</a></li>
          </ul>
        </div>
        
        <div class="">
          <h3 class="text-sm text-gray-600 uppercase font-semibold leading-normal tracking-px">Legal</h3>
          <ul class="mt-4 flex flex-col gap-3">
            <li><a class="text-white hover:text-gray-200 font-medium leading-relaxed" href="/privacy-policy">Disclaimer</a></li>
            <li><a class="text-white hover:text-gray-200 font-medium leading-relaxed" href="/terms-and-conditions">Terms &amp; Conditions</a></li>
            <li><a class="text-white hover:text-gray-200 font-medium leading-relaxed" href="/privacy-policy">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="flex items-center sm:items-start sm:justify-center lg:justify-end">
          <a target="_blank" title="made with l ❤️ ve by jyotirmay" href="https://jyotirmaybarman.com">
            <svg class="h-[100px] w-[100px] text-white" viewBox="0 0 250 250" fill="currentColor">
              <path d="M214.495 37.9072C229.879 53.9 240.426 72.416 245.939 93.799C251.508 115.402 251.372 136.964 245.389 158.412C237.789 185.659 222.561 207.813 200.049 224.921C183.892 237.199 165.731 245.096 145.74 248.263C112.251 253.567 81.2687 246.769 53.4159 227.26C29.2221 210.314 13.0964 187.386 4.97396 158.994C-2.07486 134.354 -1.7682 109.632 6.76782 85.482C21.8496 42.8124 51.3562 14.7184 95.3509 3.99943C140.882 -7.09396 180.779 5.10664 214.495 37.9072ZM228.378 66.488C206.801 30.8561 175.546 10.5178 133.868 6.71143C121.091 5.54452 108.462 6.69235 96.0761 9.94221C66.4252 17.7222 42.8158 34.2648 26.0371 59.9283C6.09062 90.4368 1.21479 123.585 11.2841 158.562C19.2967 186.394 35.8578 208.331 60.0381 224.26C86.1024 241.43 114.735 247.229 145.453 242.056C167.954 238.268 187.808 228.602 204.551 213.083C233.977 185.808 246.826 151.961 243.148 112.041C241.666 95.9548 236.494 80.8698 228.378 66.488Z"/>
              <path d="M50.3343 184.102L59.0972 176.445L62.1627 179.954C62.7259 180.599 63.1002 181.22 63.2854 181.818C63.4706 182.415 63.4882 182.971 63.3381 183.484C63.1909 183.995 62.8977 184.442 62.4584 184.826C62.1161 185.125 61.7554 185.32 61.3762 185.41C60.9998 185.497 60.6242 185.493 60.2494 185.398C59.88 185.303 59.5277 185.133 59.1926 184.888L59.107 184.963C59.3843 185.309 59.5631 185.703 59.6433 186.146C59.726 186.592 59.6902 187.044 59.5359 187.5C59.3845 187.955 59.0934 188.37 58.6627 188.746C58.1977 189.152 57.6818 189.399 57.1148 189.487C56.5531 189.576 55.9711 189.488 55.3688 189.225C54.7664 188.961 54.1786 188.502 53.6054 187.845L50.3343 184.102ZM53.4677 184.631L54.7874 186.141C55.2385 186.658 55.6658 186.948 56.0695 187.013C56.4761 187.075 56.8448 186.962 57.1757 186.673C57.4181 186.461 57.581 186.216 57.6642 185.937C57.7474 185.658 57.7471 185.364 57.6632 185.055C57.5819 184.748 57.4116 184.447 57.1524 184.15L55.7954 182.597L53.4677 184.631ZM57.049 181.502L58.2491 182.875C58.4709 183.129 58.712 183.316 58.9724 183.436C59.2381 183.555 59.5035 183.6 59.7687 183.57C60.0363 183.542 60.2856 183.427 60.5167 183.226C60.8333 182.949 60.9902 182.613 60.9873 182.218C60.9868 181.826 60.8072 181.425 60.4483 181.014L59.2184 179.607L57.049 181.502Z"/>
              <path d="M68.2749 186.486L70.4205 188.215L69.342 193.782L69.4305 193.853L74.6411 191.616L76.7867 193.345L68.7616 196.54L66.1804 199.743L64.2781 198.21L66.8593 195.007L68.2749 186.486Z"/>
              <path d="M92.3652 201.904L94.5915 202.882L91.3269 210.31C91.0252 210.997 90.6087 211.525 90.0776 211.896C89.5499 212.268 88.9536 212.472 88.2888 212.506C87.624 212.541 86.9309 212.4 86.2096 212.083C85.5681 211.801 85.035 211.432 84.6105 210.977C84.1909 210.519 83.9306 209.991 83.8297 209.392C83.7303 208.79 83.8378 208.136 84.1521 207.43L86.394 208.415C86.2775 208.699 86.2288 208.965 86.2479 209.214C86.272 209.46 86.3558 209.679 86.4993 209.87C86.6478 210.06 86.8538 210.212 87.1173 210.328C87.3947 210.45 87.6547 210.494 87.8973 210.46C88.1448 210.424 88.3699 210.312 88.5726 210.124C88.7753 209.936 88.9513 209.672 89.1006 209.332L92.3652 201.904Z"/>
              <path d="M99.7812 204.888L102.455 205.556L103.813 211.062L103.924 211.089L107.713 206.871L110.387 207.539L104.445 213.808L103.447 217.799L101.077 217.206L102.074 213.216L99.7812 204.888Z"/>
              <path d="M125.59 214.756C125.514 216.023 125.209 217.086 124.675 217.946C124.145 218.805 123.454 219.445 122.602 219.864C121.753 220.28 120.817 220.457 119.792 220.396C118.76 220.334 117.848 220.044 117.055 219.525C116.263 219.007 115.655 218.29 115.232 217.372C114.809 216.455 114.636 215.365 114.712 214.102C114.788 212.836 115.091 211.772 115.621 210.912C116.15 210.053 116.839 209.415 117.688 208.999C118.537 208.579 119.477 208.401 120.509 208.463C121.534 208.524 122.442 208.814 123.235 209.332C124.031 209.847 124.641 210.563 125.064 211.48C125.491 212.397 125.666 213.489 125.59 214.756ZM123.1 214.606C123.149 213.786 123.068 213.087 122.856 212.508C122.648 211.931 122.331 211.483 121.906 211.165C121.482 210.847 120.972 210.671 120.379 210.635C119.785 210.599 119.258 210.714 118.798 210.978C118.339 211.243 117.969 211.649 117.689 212.198C117.413 212.747 117.251 213.431 117.201 214.252C117.152 215.072 117.232 215.772 117.44 216.35C117.652 216.928 117.97 217.376 118.395 217.693C118.82 218.011 119.329 218.188 119.923 218.223C120.516 218.259 121.043 218.145 121.503 217.88C121.963 217.616 122.331 217.209 122.607 216.66C122.886 216.111 123.051 215.427 123.1 214.606Z"/>
              <path d="M131.274 210.788L131.032 208.774L140.521 207.633L140.763 209.647L137.226 210.072L138.373 219.611L135.958 219.902L134.811 210.362L131.274 210.788Z"/>
              <path d="M148.291 205.761L151.249 217.015L148.87 217.641L145.911 206.387L148.291 205.761Z"/>
              <path d="M158.694 214.754L154.222 204.012L158.461 202.247C159.272 201.91 160.025 201.766 160.719 201.818C161.416 201.865 162.024 202.089 162.545 202.492C163.067 202.89 163.476 203.444 163.772 204.154C164.069 204.867 164.17 205.545 164.077 206.187C163.981 206.826 163.699 207.403 163.228 207.919C162.761 208.433 162.115 208.862 161.29 209.206L158.452 210.387L157.692 208.562L160.163 207.533C160.596 207.353 160.932 207.143 161.169 206.905C161.406 206.667 161.545 206.4 161.586 206.104C161.631 205.806 161.579 205.481 161.432 205.128C161.284 204.771 161.087 204.5 160.842 204.315C160.6 204.128 160.308 204.033 159.965 204.028C159.624 204.018 159.236 204.103 158.798 204.285L157.267 204.923L160.966 213.809L158.694 214.754ZM162.461 207.451L167.166 211.228L164.658 212.272L160.011 208.47L162.461 207.451Z"/>
              <path d="M167.149 198.303L169.679 196.629L176.667 201.379L176.78 201.304L175.137 193.016L177.667 191.341L184.09 201.045L182.1 202.362L177.92 196.046L177.839 196.099L179.477 204.03L178.122 204.927L171.446 200.297L171.366 200.35L175.562 206.689L173.572 208.007L167.149 198.303Z"/>
              <path d="M191.454 194.666L189.58 196.521L184.25 185.424L186.503 183.194L197.54 188.643L195.666 190.497L187.279 186.167L187.215 186.231L191.454 194.666ZM188.119 191.531L192.545 187.151L193.896 188.515L189.47 192.896L188.119 191.531Z"/>
              <path d="M191.933 177.329L193.513 175.072L199.14 175.773L199.205 175.68L196.622 170.632L198.203 168.375L201.931 176.166L205.3 178.526L203.899 180.527L200.529 178.168L191.933 177.329Z"/>
              <path d="M33.0926 99.0291L34.1786 96.196L42.6258 96.0021L42.6746 95.8748L36.5214 90.0842L37.6074 87.2511L48.4728 91.4161L47.6187 93.6443L40.5466 90.9335L40.512 91.0236L46.4532 96.526L45.8716 98.0434L37.7482 98.1545L37.7136 98.2447L44.8122 100.966L43.9581 103.194L33.0926 99.0291Z"/>
              <path d="M52.8982 83.5184L51.4514 85.7223L43.9284 75.9782L45.6684 73.3279L57.5973 76.3606L56.1505 78.5645L47.0462 76.0744L46.9963 76.1504L52.8982 83.5184ZM48.9842 81.1461L52.4017 75.9403L54.0072 76.9943L50.5896 82.2L48.9842 81.1461Z"/>
              <path d="M64.3848 68.7007L61.4885 71.638L53.2028 63.4677L56.1231 60.5063C56.9449 59.6728 57.8182 59.1189 58.743 58.8446C59.6652 58.5676 60.5946 58.5718 61.5314 58.8572C62.4709 59.1399 63.3708 59.7054 64.2312 60.5538C65.0943 61.4049 65.6751 62.2995 65.9737 63.2375C66.2749 64.1729 66.2921 65.1076 66.0255 66.0415C65.7615 66.9728 65.2146 67.8592 64.3848 68.7007ZM61.7149 68.4061L62.812 67.2935C63.3227 66.7757 63.6605 66.2496 63.8255 65.7155C63.9904 65.1759 63.9665 64.6257 63.7536 64.0647C63.5407 63.4983 63.1255 62.9106 62.5078 62.3016C61.8956 61.6979 61.3061 61.2949 60.7395 61.0926C60.1756 60.8876 59.6278 60.8714 59.0959 61.0439C58.5641 61.2163 58.0429 61.5615 57.5323 62.0794L56.4312 63.196L61.7149 68.4061Z"/>
              <path d="M73.6943 60.2769L67.0609 50.7164L73.503 46.2466L74.6593 47.9132L70.2385 50.9804L71.8191 53.2585L75.9085 50.4212L77.0648 52.0878L72.9754 54.9251L74.5593 57.2079L78.9988 54.1276L80.1551 55.7942L73.6943 60.2769Z"/>
              <path d="M96.5116 47.7813L90.0227 37.5644L92.6002 36.8033L96.7374 44.0119L96.83 43.9846L96.5781 35.6285L98.785 34.9768L103.112 42.1471L103.21 42.1181L102.763 33.8021L105.34 33.0409L105.443 45.1438L103.143 45.8229L98.8633 39.1541L98.7762 39.1798L98.8112 47.1022L96.5116 47.7813Z"/>
              <path d="M116.337 31.7043L117.514 43.2809L115.066 43.5298L113.889 31.9531L116.337 31.7043Z"/>
              <path d="M124.823 33.2105L124.924 31.1846L134.469 31.6592L134.368 33.6851L130.81 33.5082L130.333 43.1043L127.904 42.9835L128.381 33.3874L124.823 33.2105Z"/>
              <path d="M140.409 44.1996L143.19 32.9004L145.579 33.4884L144.431 38.1504L149.281 39.3441L150.428 34.6821L152.812 35.2687L150.031 46.5678L147.647 45.9812L148.796 41.3137L143.947 40.1201L142.798 44.7876L140.409 44.1996Z"/>
              <path d="M164.435 52.5747L170.334 42.5448L172.455 43.7922L167.584 52.0737L171.883 54.603L170.855 56.3513L164.435 52.5747Z"/>
              <path d="M182.039 65.3115L181.718 57.0574C181.693 56.399 181.833 55.7905 182.138 55.2318C182.446 54.6757 182.864 54.2266 183.392 53.8845C183.923 53.5395 184.512 53.3571 185.16 53.3374C185.824 53.3169 186.43 53.4569 186.978 53.7573C187.531 54.0575 187.977 54.4704 188.317 54.996C188.659 55.5241 188.847 56.1186 188.88 56.7794L188.938 57.8547L190.015 57.8289C190.679 57.8139 191.286 57.9551 191.836 58.2528C192.387 58.5504 192.832 58.962 193.171 59.4876C193.516 60.0129 193.704 60.6074 193.735 61.271C193.765 61.9184 193.629 62.5201 193.326 63.076C193.026 63.6291 192.609 64.0795 192.076 64.4273C191.546 64.7775 190.951 64.9655 190.293 64.991L182.039 65.3115Z"/>
              <path d="M205.984 75.5225L199.844 82.478L199.9 82.5706L208.932 80.4457L210.334 82.7854L198.29 85.3231L196.661 82.6032L204.579 73.1779L205.984 75.5225Z"/>
              <path d="M202.869 94.3604L213.785 90.3289L216.501 97.6842L214.599 98.387L212.735 93.3395L210.134 94.3002L211.858 98.9692L209.955 99.6719L208.231 95.0029L205.624 95.9655L207.496 101.034L205.594 101.737L202.869 94.3604Z"/>
              <path d="M136.329 91.6798C147.732 88.755 158.642 96.1484 161.89 108.462C164.351 117.794 162.744 126.339 156.823 133.358C147.677 144.201 138.317 154.806 129.036 165.498C126.187 168.781 123.217 168.84 120.392 165.634C110.995 154.974 101.569 144.348 92.2548 133.592C85.052 125.274 83.9788 112.11 89.5099 102.312C96.7858 89.4232 112.939 87.102 122.665 97.6603C124.111 99.2302 124.907 99.2937 126.307 97.6622C129.013 94.509 132.441 92.7372 136.329 91.6798ZM149.541 98.6952C141.812 94.3834 134.335 95.9061 128.02 103.078C124.484 107.094 124.441 107.143 120.973 103.08C117.541 99.0591 113.477 96.6029 108.581 96.3574C101.123 95.9835 94.908 100.489 91.9991 108.152C89.1638 115.621 90.6102 124.255 95.8321 130.244C104.809 140.537 113.868 150.736 122.82 161.057C124.223 162.675 125.06 162.714 126.474 161.059C135.174 150.873 143.983 140.81 152.721 130.667C161.302 120.707 159.979 106.539 149.541 98.6952Z"/>
              <path d="M116 96.5L125 104.5V165C124.5 165 98.5 135.5 98.5 135.5L92 127L89.5 120.5V111L93 103L97 99.5L105 94.5L116 96.5Z"/>
            </svg>
          </a>
        </div>
        
      </div>
    </div>
    <p class="py-5 text-sm text-gray-300 font-medium text-center leading-normal">Copyright © <span class="current-year"></span> {{@site.title}}. All Rights Reserved</p>
  </div>
</section>

<script>
    const currentYear = new Date().getFullYear();
    document.querySelector('.current-year').textContent = currentYear;
</script>