<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-1 lg:gap-10 gap-5 h-full">
    <div class="border rounded dark:bg-gray-900 dark:border-gray-500 py-6">
        <h1 class="text-center text-sm mt-2">Browse by tags</h1>
        {{#get "tags" limit="8"}}
            <ul class="mt-8 px-2 lg:px-4 2lg:px-6">
                    {{#foreach tags}}
                        <li class="p-2">
                            <a href="{{url}}" class="group flex items-center gap-4 rounded border hover:shadow-sm dark:hover:shadow-xl dark:border-[#333] hover:text-blue-500 text-sm">
                                <div class="thumbnail flex items-center bg-gray-200 dark:bg-[#333] justify-center w-10 h-10">
                                    <img srcset="
                                        {{img_url feature_image size="xxs"}} 30w,
                                        {{img_url feature_image size="xs"}} 100w,
                                        {{img_url feature_image size="s"}} 300w,
                                        {{img_url feature_image size="m"}} 600w,
                                        {{img_url feature_image size="l"}} 1200w,
                                        {{img_url feature_image size="xl"}} 2000w"
                                        {{^if @first}}sizes="(min-width: 1200px) 1200px, 100vw)"{{else}}sizes="(min-width: 800px) 100vw, 700px"{{/if}}
                                        src="{{img_url feature_image size="m"}}"
                                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                        class="block h-full w-full rounded-l object-cover" alt="">
                                </div>
                                <span>-----</span>
                                <p>{{ name }}</p>
                            </a>
                        </li>
                    {{else}}
                        <li class="m-not-found">{{t "No tags found :("}}</li>
                    {{/foreach}}
            </ul>
        {{/get}}
    </div>
    <div class="border rounded dark:bg-gray-900 dark:border-gray-500 py-6">
        <p class="text-center text-sm">Give feedback</p>


        <div class="px-6 mt-4 text-sm">
            <p class="text-center text-gray-500">For any feedback, drop me a message and I will get back to you.</p>
            <p class="text-center mt-4">Thank you</p><a href="/contact"
                class="p-3 mt-8 border dark:border-[#333] hover:bg-gray-200 dark:hover:bg-[#333] text-center flex justify-center items-center"><svg
                    class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z">
                    </path>
                </svg><span class="ml-6">Drop a message</span></a>
        </div>
    </div>
    <div class="border rounded dark:bg-gray-900 dark:border-gray-500 py-6">
        <p class="text-center text-sm">Buy us a coffee</p>
        <div class="px-6 mt-4 text-sm">
            <p class="text-center text-gray-500">If you are enjoying our contents then please consider buying us a
                coffee.</p>
            <p class="text-center mt-4">Thank you</p><a target="_blank"
                href="https://www.buymeacoffee.com/developerzilla"
                class="p-3 mt-8 bg-yellow-400 dark:bg-yellow-600 hover:bg-yellow-500 dark:hover:bg-yellow-700 text-center flex justify-center items-center"><svg
                    class="h-5 w-5 fill-black dark:fill-white" viewBox="0 0 24 35" fill="none">
                    <path
                        d="M12.6684 15.8329C11.4369 16.3601 10.0393 16.9579 8.22799 16.9579C7.47026 16.9563 6.71621 16.8524 5.98633 16.6488L7.23908 29.5107C7.28342 30.0483 7.52832 30.5495 7.92515 30.9149C8.32197 31.2803 8.84169 31.4831 9.38113 31.483C9.38113 31.483 11.1573 31.5752 11.75 31.5752C12.388 31.5752 14.3007 31.483 14.3007 31.483C14.8401 31.483 15.3597 31.2801 15.7564 30.9148C16.1531 30.5494 16.398 30.0482 16.4423 29.5107L17.7841 15.2978C17.1845 15.093 16.5793 14.957 15.8971 14.957C14.7173 14.9565 13.7666 15.3629 12.6684 15.8329Z"
                        fill="#FFDD00"></path>
                    <path
                        d="M23.5782 9.16382L23.3896 8.21227C23.2203 7.3585 22.8361 6.55178 21.9597 6.2432C21.6788 6.1445 21.3601 6.10206 21.1447 5.89773C20.9293 5.6934 20.8656 5.37606 20.8158 5.08179C20.7236 4.54166 20.6369 4.00108 20.5423 3.46189C20.4607 2.99833 20.3961 2.47758 20.1834 2.05231C19.9067 1.48129 19.3324 1.14735 18.7614 0.926412C18.4688 0.817184 18.1702 0.724784 17.8671 0.649663C16.4404 0.273285 14.9405 0.134911 13.4728 0.0560383C11.7111 -0.0411687 9.94483 -0.0118817 8.18736 0.143675C6.87926 0.262676 5.50151 0.406586 4.25845 0.859072C3.80412 1.02466 3.33595 1.22345 2.99048 1.57446C2.56659 2.00573 2.42823 2.67269 2.73773 3.2105C2.95774 3.59242 3.33043 3.86225 3.72572 4.04075C4.2406 4.27075 4.77832 4.44576 5.32994 4.56288C6.86589 4.90236 8.45672 5.03566 10.0259 5.09239C11.7651 5.16259 13.5071 5.1057 15.238 4.92219C15.666 4.87515 16.0933 4.81872 16.5198 4.75292C17.0221 4.67589 17.3445 4.01907 17.1964 3.56151C17.0193 3.01448 16.5433 2.8023 16.005 2.88486C15.9257 2.89732 15.8468 2.90885 15.7675 2.92038L15.7103 2.92868C15.5279 2.95175 15.3456 2.97327 15.1632 2.99326C14.7866 3.03385 14.4089 3.06706 14.0304 3.09289C13.1826 3.15193 12.3326 3.17914 11.4829 3.18052C10.6481 3.18052 9.81282 3.157 8.97978 3.10211C8.59971 3.0772 8.22057 3.04553 7.84235 3.00709C7.6703 2.98911 7.49872 2.9702 7.32714 2.94898L7.16385 2.92822L7.12833 2.92315L6.95905 2.8987C6.61312 2.84658 6.26718 2.78662 5.92493 2.7142C5.8904 2.70654 5.85952 2.68733 5.83738 2.65974C5.81524 2.63215 5.80316 2.59783 5.80316 2.56245C5.80316 2.52708 5.81524 2.49276 5.83738 2.46517C5.85952 2.43758 5.8904 2.41836 5.92493 2.4107H5.9314C6.22798 2.34751 6.52686 2.29355 6.82667 2.2465C6.92661 2.23082 7.02686 2.21544 7.12742 2.20037H7.13018C7.31791 2.18792 7.50656 2.15425 7.69337 2.13211C9.31863 1.96305 10.9536 1.90542 12.5867 1.9596C13.3796 1.98267 14.172 2.02925 14.9612 2.10951C15.1309 2.12704 15.2998 2.14549 15.4686 2.16624C15.5332 2.17408 15.5982 2.18331 15.6632 2.19115L15.7942 2.21006C16.1761 2.26695 16.556 2.33598 16.934 2.41716C17.4939 2.53893 18.213 2.5786 18.4621 3.19206C18.5414 3.3867 18.5774 3.60303 18.6212 3.80736L18.677 4.06796C18.6785 4.07264 18.6795 4.07742 18.6802 4.08226C18.8122 4.69726 18.9442 5.31225 19.0765 5.92725C19.0861 5.97268 19.0864 6.01962 19.0771 6.06515C19.0679 6.11067 19.0493 6.1538 19.0227 6.19184C18.996 6.22988 18.9618 6.26202 18.9222 6.28626C18.8825 6.31049 18.8383 6.3263 18.7923 6.33269H18.7886L18.7079 6.34376L18.6281 6.35437C18.3754 6.38727 18.1223 6.41802 17.8689 6.44662C17.3698 6.5035 16.87 6.5527 16.3694 6.59421C15.3746 6.67693 14.3779 6.73121 13.3791 6.75704C12.8702 6.77056 12.3615 6.77687 11.8529 6.77595C9.82843 6.77435 7.80582 6.65669 5.79487 6.42355C5.57716 6.39772 5.35946 6.37005 5.14175 6.34191C5.31056 6.36359 5.01905 6.32531 4.96001 6.31701C4.82163 6.29763 4.68327 6.27749 4.54489 6.25658C4.08042 6.18693 3.61871 6.10114 3.15516 6.02596C2.59474 5.93371 2.05876 5.97983 1.55185 6.25658C1.13575 6.48428 0.798985 6.83344 0.586465 7.25749C0.367835 7.70951 0.302795 8.20166 0.205015 8.68736C0.107229 9.17305 -0.0449831 9.69564 0.0126729 10.1943C0.136748 11.2704 0.889045 12.1449 1.97112 12.3405C2.9891 12.525 4.01261 12.6744 5.03889 12.8017C9.07032 13.2955 13.1431 13.3545 17.1872 12.9779C17.5165 12.9472 17.8454 12.9136 18.1738 12.8774C18.2764 12.8661 18.3802 12.8779 18.4776 12.912C18.575 12.946 18.6636 13.0014 18.7368 13.0741C18.81 13.1468 18.8661 13.235 18.9008 13.3321C18.9356 13.4293 18.9481 13.533 18.9376 13.6357L18.8352 14.631C18.6289 16.6424 18.4226 18.6536 18.2162 20.6646C18.001 22.7765 17.7843 24.8882 17.5663 26.9998C17.5048 27.5945 17.4433 28.1891 17.3818 28.7835C17.3228 29.3688 17.3145 29.9726 17.2033 30.551C17.0281 31.4606 16.4123 32.0191 15.5138 32.2235C14.6906 32.4108 13.8497 32.5091 13.0055 32.5168C12.0696 32.5219 11.1342 32.4804 10.1984 32.4854C9.19933 32.491 7.97565 32.3987 7.20444 31.6552C6.52687 31.0021 6.43323 29.9795 6.34098 29.0953C6.21798 27.9246 6.09606 26.7541 5.97521 25.5838L5.29718 19.0761L4.85853 14.8653C4.85115 14.7957 4.84377 14.727 4.83685 14.6569C4.78427 14.1546 4.42866 13.6629 3.86824 13.6882C3.38855 13.7095 2.84335 14.1172 2.89963 14.6569L3.22479 17.7786L3.89729 24.236C4.08886 26.0703 4.27997 27.9048 4.47062 29.7396C4.50752 30.0911 4.54211 30.4435 4.58086 30.795C4.79165 32.7156 6.25841 33.7506 8.07481 34.0422C9.13568 34.2128 10.2224 34.2479 11.2989 34.2654C12.679 34.2875 14.0728 34.3406 15.4303 34.0906C17.4418 33.7216 18.951 32.3784 19.1664 30.295C19.2279 29.6935 19.2894 29.0919 19.3509 28.4901C19.5554 26.5 19.7596 24.5097 19.9634 22.5193L20.6304 16.0157L20.9362 13.0351C20.9514 12.8873 21.0139 12.7484 21.1142 12.6388C21.2145 12.5292 21.3475 12.4549 21.4934 12.4267C22.0686 12.3146 22.6184 12.1232 23.0275 11.6855C23.6788 10.9886 23.8084 10.0799 23.5782 9.16382ZM1.9416 9.8068C1.95037 9.80265 1.93422 9.87786 1.92731 9.91286C1.92592 9.85986 1.92869 9.8128 1.9416 9.8068ZM1.99742 10.2386C2.00203 10.2353 2.01586 10.2538 2.03016 10.2759C2.00848 10.2556 1.99465 10.2404 1.99695 10.2386H1.99742ZM2.0523 10.311C2.07214 10.3447 2.08275 10.3659 2.0523 10.311V10.311ZM2.16254 10.4005H2.16531C2.16531 10.4037 2.17039 10.4069 2.17224 10.4102C2.16918 10.4066 2.16578 10.4034 2.16209 10.4005H2.16254ZM21.4666 10.2667C21.26 10.4632 20.9487 10.5545 20.641 10.6002C17.1909 11.1122 13.6905 11.3714 10.2025 11.257C7.70628 11.1717 5.23629 10.8945 2.76494 10.5453C2.52278 10.5112 2.26034 10.4669 2.09383 10.2884C1.78018 9.95166 1.93423 9.2736 2.01587 8.86678C2.0906 8.49409 2.23358 7.99733 2.67684 7.94428C3.36871 7.86311 4.17221 8.15508 4.8567 8.25886C5.68079 8.38462 6.50796 8.48533 7.33821 8.56097C10.8815 8.88385 14.4843 8.83357 18.0119 8.36125C18.6549 8.27485 19.2955 8.17445 19.9339 8.06006C20.5026 7.95812 21.1332 7.76671 21.4768 8.35572C21.7125 8.757 21.7439 9.29389 21.7074 9.7473C21.6962 9.94486 21.6099 10.1307 21.4662 10.2667H21.4666Z">
                    </path>
                </svg><span class="ml-6">Buy us a coffee</span></a>
        </div>
    </div>
</div>