{{#if website}}
    <a href="{{website}}" target="_blank" title="website" class="flex h-10 w-10 items-center justify-center rounded-md p-2 hover:bg-gray-200 cursor-pointer dark:text-white dark:hover:bg-[#333]">
        <span class="sr-only">Website</span>
        <svg class="w-5 h-5" viewBox="0 0 20 20" fill="none">
            <path d="M10 19C11.995 18.9999 13.9335 18.3372 15.511 17.116C17.0886 15.8948 18.2159 14.1843 18.716 12.253M10 19C8.00501 18.9999 6.06654 18.3372 4.48898 17.116C2.91141 15.8948 1.78408 14.1843 1.284 12.253M10 19C12.485 19 14.5 14.97 14.5 10C14.5 5.03 12.485 1 10 1M10 19C7.515 19 5.5 14.97 5.5 10C5.5 5.03 7.515 1 10 1M18.716 12.253C18.901 11.533 19 10.778 19 10C19.0025 8.45211 18.6039 6.92999 17.843 5.582M18.716 12.253C16.0492 13.7314 13.0492 14.5048 10 14.5C6.838 14.5 3.867 13.685 1.284 12.253M1.284 12.253C1.09475 11.517 0.999327 10.76 1 10C1 8.395 1.42 6.887 2.157 5.582M10 1C11.5962 0.999335 13.1639 1.42336 14.5422 2.22856C15.9205 3.03377 17.0597 4.19117 17.843 5.582M10 1C8.40376 0.999335 6.83608 1.42336 5.45781 2.22856C4.07954 3.03377 2.94031 4.19117 2.157 5.582M17.843 5.582C15.6657 7.46793 12.8805 8.50415 10 8.5C7.002 8.5 4.26 7.4 2.157 5.582" stroke="#0085FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>
{{/if}}
{{#if facebook}}
    <a href="https://www.facebook.com/{{facebook}}" target="_blank" title="facebook" class="flex h-10 w-10 items-center justify-center rounded-md p-2 hover:bg-gray-200 cursor-pointer dark:text-white dark:hover:bg-[#333]">
        <span class="sr-only">Facebook</span>
        <svg class="w-5 h-5" viewBox="0 0 123 123" fill="none">
            <rect width="123" height="123" rx="32" fill="url(#paint0_linear_732_48)"/>
            <path d="M85.12 79.4305L87.84 61.6705H70.76V50.1405C70.76 45.2805 73.14 40.5505 80.76 40.5505H88.56V25.4305C84.0121 24.6957 79.4165 24.2946 74.81 24.2305C60.81 24.2305 51.6 32.7305 51.6 48.1305V61.6705H36V79.4305H51.6V123H70.76V79.4305H85.12Z" fill="white"/>
            <defs>
                <linearGradient id="paint0_linear_732_48" x1="61.5" y1="0" x2="61.5" y2="123" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#32B6FC"/>
                    <stop offset="1" stop-color="#0063E3"/>
                </linearGradient>
            </defs>
        </svg>
    </a>
{{/if}}
{{#if instagram}}
    <a href="{{instagram}}" target="_blank" title="instagram" class="flex h-10 w-10 items-center justify-center rounded-md p-2 hover:bg-gray-200 cursor-pointer dark:text-white dark:hover:bg-[#333]">
        <span class="sr-only">Instagram</span>
        <svg class="h-5 w-5" viewBox="0 0 133 132" fill="none">
            <path d="M66.0334 1C38.8914 1 30.9534 1.028 29.4104 1.156C23.8404 1.619 20.3744 2.496 16.5984 4.376C13.6884 5.821 11.3934 7.496 9.12844 9.844C5.00344 14.126 2.50344 19.394 1.59844 25.656C1.15844 28.696 1.03044 29.316 1.00444 44.844C0.994444 50.02 1.00444 56.832 1.00444 65.969C1.00444 93.089 1.03444 101.019 1.16444 102.559C1.61444 107.979 2.46444 111.389 4.26444 115.119C7.70444 122.259 14.2744 127.619 22.0144 129.619C24.6944 130.309 27.6544 130.689 31.4544 130.869C33.0644 130.939 49.4744 130.989 65.8944 130.989C82.3144 130.989 98.7344 130.969 100.304 130.889C104.704 130.682 107.259 130.339 110.084 129.609C117.874 127.599 124.324 122.319 127.834 115.079C129.599 111.439 130.494 107.899 130.899 102.762C130.987 101.642 131.024 83.785 131.024 65.952C131.024 48.116 130.984 30.292 130.896 29.172C130.486 23.952 129.591 20.442 127.769 16.732C126.274 13.695 124.614 11.427 122.204 9.108C117.903 5 112.643 2.5 106.375 1.596C103.338 1.157 102.733 1.027 87.1934 1H66.0334Z" fill="url(#paint0_radial_732_68)"/>
            <path d="M66.0334 1C38.8914 1 30.9534 1.028 29.4104 1.156C23.8404 1.619 20.3744 2.496 16.5984 4.376C13.6884 5.821 11.3934 7.496 9.12844 9.844C5.00344 14.126 2.50344 19.394 1.59844 25.656C1.15844 28.696 1.03044 29.316 1.00444 44.844C0.994444 50.02 1.00444 56.832 1.00444 65.969C1.00444 93.089 1.03444 101.019 1.16444 102.559C1.61444 107.979 2.46444 111.389 4.26444 115.119C7.70444 122.259 14.2744 127.619 22.0144 129.619C24.6944 130.309 27.6544 130.689 31.4544 130.869C33.0644 130.939 49.4744 130.989 65.8944 130.989C82.3144 130.989 98.7344 130.969 100.304 130.889C104.704 130.682 107.259 130.339 110.084 129.609C117.874 127.599 124.324 122.319 127.834 115.079C129.599 111.439 130.494 107.899 130.899 102.762C130.987 101.642 131.024 83.785 131.024 65.952C131.024 48.116 130.984 30.292 130.896 29.172C130.486 23.952 129.591 20.442 127.769 16.732C126.274 13.695 124.614 11.427 122.204 9.108C117.903 5 112.643 2.5 106.375 1.596C103.338 1.157 102.733 1.027 87.1934 1H66.0334Z" fill="url(#paint1_radial_732_68)"/>
            <path d="M66.004 18C52.968 18 51.332 18.057 46.212 18.29C41.102 18.524 37.614 19.333 34.562 20.52C31.405 21.746 28.727 23.386 26.059 26.055C23.389 28.723 21.749 31.401 20.519 34.557C19.329 37.61 18.519 41.099 18.289 46.207C18.06 51.327 18 52.964 18 66C18 79.036 18.058 80.667 18.29 85.787C18.525 90.897 19.334 94.385 20.52 97.437C21.747 100.594 23.387 103.272 26.056 105.94C28.723 108.61 31.401 110.254 34.556 111.48C37.61 112.667 41.099 113.476 46.208 113.71C51.328 113.943 52.963 114 65.998 114C79.035 114 80.666 113.943 85.786 113.71C90.896 113.476 94.388 112.667 97.442 111.48C100.598 110.254 103.272 108.61 105.939 105.94C108.609 103.272 110.249 100.594 111.479 97.438C112.659 94.385 113.469 90.896 113.709 85.788C113.939 80.668 113.999 79.036 113.999 66C113.999 52.964 113.939 51.328 113.709 46.208C113.469 41.098 112.659 37.61 111.479 34.558C110.249 31.401 108.609 28.723 105.939 26.055C103.269 23.385 100.599 21.745 97.439 20.52C94.379 19.333 90.889 18.524 85.779 18.29C80.659 18.057 79.029 18 65.989 18H66.004ZM61.698 26.65C62.976 26.648 64.402 26.65 66.004 26.65C78.82 26.65 80.339 26.696 85.4 26.926C90.08 27.14 92.62 27.922 94.312 28.579C96.552 29.449 98.149 30.489 99.828 32.169C101.508 33.849 102.548 35.449 103.42 37.689C104.077 39.379 104.86 41.919 105.073 46.599C105.303 51.659 105.353 53.179 105.353 65.989C105.353 78.799 105.303 80.319 105.073 85.379C104.859 90.059 104.077 92.599 103.42 94.289C102.55 96.529 101.508 98.124 99.828 99.803C98.148 101.483 96.553 102.523 94.312 103.393C92.622 104.053 90.08 104.833 85.4 105.047C80.34 105.277 78.82 105.327 66.004 105.327C53.187 105.327 51.668 105.277 46.608 105.047C41.928 104.831 39.388 104.049 37.695 103.392C35.455 102.522 33.855 101.482 32.175 99.802C30.495 98.122 29.455 96.526 28.583 94.285C27.926 92.595 27.143 90.055 26.93 85.375C26.7 80.315 26.654 78.795 26.654 65.977C26.654 53.159 26.7 51.647 26.93 46.587C27.144 41.907 27.926 39.367 28.583 37.675C29.453 35.435 30.495 33.835 32.175 32.155C33.855 30.475 35.455 29.435 37.695 28.563C39.387 27.903 41.928 27.123 46.608 26.908C51.036 26.708 52.752 26.648 61.698 26.638V26.65ZM91.626 34.62C88.446 34.62 85.866 37.197 85.866 40.378C85.866 43.558 88.446 46.138 91.626 46.138C94.806 46.138 97.386 43.558 97.386 40.378C97.386 37.198 94.806 34.618 91.626 34.618V34.62ZM66.004 41.35C52.391 41.35 41.354 52.387 41.354 66C41.354 79.613 52.391 90.645 66.004 90.645C79.617 90.645 90.65 79.613 90.65 66C90.65 52.387 79.617 41.35 66.004 41.35ZM66.004 50C74.84 50 82.004 57.163 82.004 66C82.004 74.836 74.84 82 66.004 82C57.167 82 50.004 74.836 50.004 66C50.004 57.163 57.167 50 66.004 50Z" fill="white"/>
            <defs>
                <radialGradient id="paint0_radial_732_68" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(35.5379 141.001) rotate(-90) scale(128.829 119.853)">
                    <stop stop-color="#FFDD55"/>
                    <stop offset="0.1" stop-color="#FFDD55"/>
                    <stop offset="0.5" stop-color="#FF543E"/>
                    <stop offset="1" stop-color="#C837AB"/>
                </radialGradient>
                <radialGradient id="paint1_radial_732_68" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-20.7798 10.3642) rotate(78.6776) scale(57.5876 237.438)">
                    <stop stop-color="#3771C8"/>
                    <stop offset="0.128" stop-color="#3771C8"/>
                    <stop offset="1" stop-color="#6600FF" stop-opacity="0"/>
                </radialGradient>
            </defs>
        </svg>

    </a>
{{/if}}
{{#if twitter}}
    <a href="https://twitter.com/{{twitter}}" target="_blank" title="twitter" class="flex h-10 w-10 items-center justify-center rounded-md p-2 hover:bg-gray-200 cursor-pointer dark:text-white dark:hover:bg-[#333]">
        <span class="sr-only">Twitter</span>
        <svg class="h-5 w-5" viewBox="0 0 38 32" fill="none" data-v-5229519e="">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M38 3.77656C36.5794 4.43158 35.0714 4.85956 33.5272 5.04602C35.1512 4.0364 36.3688 2.45277 36.9557 0.586394C35.4251 1.52635 33.7519 2.19044 32.0071 2.55032C30.9382 1.36992 29.552 0.549571 28.0281 0.195554C26.5043 -0.158449 24.9129 -0.0297761 23.4604 0.564906C22.0079 1.15957 20.7612 2.19279 19.8818 3.53079C19.0025 4.86864 18.5311 6.44964 18.5286 8.06857C18.5291 8.6874 18.5956 9.30434 18.7274 9.90794C15.6293 9.74653 12.5987 8.91106 9.83251 7.45618C7.06614 6.00129 4.62608 3.95936 2.67072 1.46293C1.97738 2.69606 1.61224 4.09777 1.6126 5.52497C1.61355 6.85214 1.93031 8.15836 2.5348 9.32821C3.13931 10.4981 4.01287 11.4951 5.07805 12.2311C3.84096 12.1873 2.63137 11.841 1.5479 11.2205V11.3258C1.54234 13.1952 2.16245 15.0086 3.3025 16.4569C4.44255 17.9052 6.03192 18.8987 7.79957 19.2678C7.1293 19.4565 6.43803 19.5531 5.74349 19.5553C5.25037 19.5521 4.75849 19.5024 4.27407 19.4068C4.77298 21.0106 5.74236 22.4132 7.04683 23.4188C8.35145 24.4243 9.92619 24.9826 11.5515 25.016C8.28048 27.6737 4.12676 28.8794 0 28.3691C3.56344 30.745 7.71199 32.0057 11.9489 32C26.2728 32 34.1279 19.6893 34.1279 9.00744C34.1279 8.65298 34.1279 8.30805 34.1047 7.95842C35.6316 6.82123 36.948 5.40795 37.9908 3.78623L38 3.77656Z" fill="#1CA1F1" data-v-5229519e=""></path>
        </svg>
    </a>
{{/if}}
{{#if linkedin}}
    <a href="{{linkedin}}" target="_blank" title="linkedin" class="flex h-10 w-10 items-center justify-center rounded-md p-2 hover:bg-gray-200 cursor-pointer dark:text-white dark:hover:bg-[#333]">
        <span class="sr-only">linkedin</span>
        <svg class="h-5 w-5" viewBox="0 0 30 30" fill="none">
            <g><path fill-rule="evenodd" clip-rule="evenodd" d="M10.7166 9.64216H16.6448V12.681L16.7305 12.6812C17.5561 11.2002 19.5749 9.64234 22.585 9.64234C28.8449 9.64216 30.0027 13.5375 30.0027 18.6049V28.9274L23.8203 28.9276V19.7771C23.8203 17.5957 23.7749 14.7877 20.6056 14.7877C17.3866 14.7877 16.8933 17.1622 16.8933 19.6182V28.9276H10.7166V9.64234V9.64216ZM6.43062 4.28518C6.43062 6.05962 4.99053 7.49953 3.21598 7.49953C1.44142 7.49953 0.000793457 6.05953 0.000793457 4.28518C0.000793457 2.51073 1.44142 1.07073 3.21598 1.07073C4.99053 1.07073 6.43062 2.51073 6.43062 4.28518ZM0.000793457 9.64216H6.43062V28.9275H0.000793457V9.64216Z" fill="#0077B5"></path></g>
        </svg>
    </a>
{{/if}}
{{#if github}}
    <a href="{{github}}" target="_blank" title="github" class="flex h-10 w-10 items-center justify-center rounded-md p-2 hover:bg-gray-200 cursor-pointer dark:text-white dark:hover:bg-[#333]">
        <span class="sr-only">github</span>
        <svg class="h-5 w-5" viewBox="0 0 40 40" fill="none">
            <g><path fill-rule="evenodd" clip-rule="evenodd"d="M19.9993 0.498373C8.95581 0.498373 0 9.45269 0 20.4976C0 29.3346 5.72988 36.8287 13.6766 39.4744C14.6769 39.6597 15.0445 39.0396 15.0445 38.5111C15.0445 38.0342 15.0246 36.4589 15.0164 34.7891C9.45194 35.999 8.27894 32.4283 8.27894 32.4283C7.36944 30.1162 6.05838 29.5014 6.05838 29.5014C4.24388 28.2589 6.19644 28.2862 6.19644 28.2862C8.20431 28.4266 9.26144 30.3459 9.26144 30.3459C11.0464 33.4035 13.9416 32.5184 15.0821 32.0082C15.2623 30.7157 15.779 29.8328 16.3518 29.3331C11.9093 28.8289 7.2395 27.1133 7.2395 19.4493C7.2395 17.2664 8.022 15.4815 9.29981 14.0818C9.09169 13.5769 8.40663 11.5439 9.4925 8.78969C9.4925 8.78969 11.1719 8.25156 14.9943 10.8397C16.5888 10.3975 18.2992 10.1746 19.9978 10.1672C21.6978 10.1746 23.4112 10.3967 25.0079 10.8397C28.8252 8.25306 30.5031 8.78969 30.5031 8.78969C31.5904 11.5447 30.9084 13.5791 30.7002 14.0819C31.9824 15.4815 32.7583 17.2664 32.7583 19.4493C32.7583 27.131 28.0781 28.8199 23.626 29.3153C24.3436 29.9354 24.9843 31.1527 24.9843 33.0174C24.9843 35.6919 24.9614 37.8474 24.9614 38.5051C24.9614 39.0374 25.3217 39.6597 26.3359 39.4647C34.2782 36.8176 40.0008 29.3226 40.0008 20.4909C40.0008 9.44744 31.0464 0.491623 20.0008 0.491623L19.9993 0.49831L19.9993 0.498373Z"class="fill-black dark:fill-white"></path></g>
        </svg>
    </a>
{{/if}}
{{#if gitlab}}
    <a href="{{gitlab}}" target="_blank" title="gitlab" class="flex h-10 w-10 items-center justify-center rounded-md p-2 hover:bg-gray-200 cursor-pointer dark:text-white dark:hover:bg-[#333]">
        <span class="sr-only">gitlab</span>
        <svg class="h-5 w-5" viewBox="0 0 40 40" fill="none">
            <g> <path d="M39.9251 22.8693L37.6823 15.3958L33.2519 0.568903C33.0241 -0.190814 32.0345 -0.190814 31.7969 0.568903L27.3633 15.3852H12.6335L8.19987 0.568903C7.972 -0.190814 6.98242 -0.190814 6.74479 0.568903L2.32096 15.3852L0.0781212 22.8693C-0.123702 23.5477 0.0943973 24.2968 0.631507 24.7208L20 39.9965L39.3685 24.7208C39.9023 24.3004 40.1302 23.5512 39.9251 22.8693Z" fill="#EC672A"></path>
                <path d="M20.0033 39.9894L27.3698 15.3852H12.6367L20.0033 39.9894Z" fill="#DD3E2A"></path>
                <path d="M19.9967 39.9894L12.6334 15.3852H2.32092L19.9967 39.9894Z" fill="#EC672A"></path>
                <path d="M2.31441 15.3922L0.0748253 22.8693C-0.126998 23.5477 0.0911014 24.2968 0.628211 24.7208L19.9967 39.9965L2.31441 15.3922Z" fill="#F6A420"></path>
                <path d="M2.31763 15.3922H12.6399L8.19653 0.575968C7.96867 -0.18375 6.97908 -0.18375 6.74145 0.575968L2.31763 15.3922Z" fill="#DD3E2A"></path>
                <path d="M20.0032 39.9894L27.3697 15.3852H37.692L20.0032 39.9894Z" fill="#EC672A"></path>
                <path d="M37.6822 15.3922L39.925 22.8657C40.1269 23.5442 39.9088 24.2933 39.3717 24.7173L20.0032 39.9859L37.6822 15.3922Z" fill="#F6A420"></path>
                <path d="M37.6887 15.3922H27.3665L31.8 0.575968C32.0279 -0.18375 33.0175 -0.18375 33.2551 0.575968L37.6887 15.3922Z" fill="#DD3E2A"></path>
            </g>
        </svg>
    </a>
{{/if}}