<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <script src="{{asset "built/index.js"}}" defer></script>

    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>

<body class="{{body_class}} flex h-[90vh] flex-col justify-center items-center">

    {{#match statusCode 404 }}
        <div class="flex flex-col items-center px-4">

            <div class="flex justify-center">
                <svg class="h-[150px] w-[150px] md:h-[200px] md:w-[200px] lg:h-[250px] lg:w-[250px]" viewBox="0 0 336 336" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M227.667 0C227.886 6.87873 227.762 13.7573 227.661 20.6362C227.467 33.7228 227.128 46.8098 227.151 59.8961C227.169 70.2609 227.657 80.6244 227.897 90.9893C227.981 94.6212 228.249 98.2852 227.897 101.882C227.367 107.301 230.042 108.119 234.702 108.084C258.668 107.902 282.635 108 306.602 108C316.089 108 325.576 108 335.531 108C336 108.75 336 109.5 336 110.625C300.225 111 264.451 111 228.332 111C228.176 113.868 228.012 115.488 228.011 117.108C227.997 150.604 227.995 184.099 228.005 217.594C228.007 224.362 228.727 225.009 235.431 225.004C259.214 224.986 282.997 224.909 306.779 225.049C316.214 225.104 325.645 225.668 335.539 226C336 226.444 336 226.889 336 227.667C329.456 227.907 322.912 227.809 316.369 227.723C303.766 227.555 291.163 227.245 278.56 227.275C267.198 227.303 255.836 227.722 244.474 227.937C241.009 228.002 237.512 228.252 234.082 227.902C228.621 227.344 227.89 230.121 227.92 234.734C228.088 260.356 228 285.98 227.999 311.603C227.999 319.423 228 327.243 228 335.531C227.25 336 226.5 336 225.375 336C225 300.239 225 264.477 225 228.36C186.72 228.36 149.66 228.36 111.975 228.36C111.658 230.689 111.056 233.09 111.048 235.492C110.975 258.594 111.099 281.697 110.954 304.798C110.89 314.893 110.334 324.984 110 335.539C109.556 336 109.111 336 108.333 336C108.114 329.121 108.239 322.243 108.341 315.364C108.534 302.278 108.872 289.191 108.849 276.105C108.831 265.739 108.343 255.374 108.103 245.007C108.019 241.375 107.751 237.712 108.103 234.115C108.634 228.692 105.953 227.882 101.295 227.917C76.9977 228.097 52.6978 228 28.3987 228C19.2449 228 10.0911 228 0.468657 228C2.98023e-08 227.25 0 226.5 0 225.375C35.7555 225 71.5111 225 107.691 225C107.831 222.04 107.989 220.261 107.989 218.482C108.004 185.348 108.002 152.214 107.997 119.08C107.996 112.316 106.157 110.983 99.4785 110.991C74.4 111.018 49.3209 110.808 24.2426 110.603C16.4696 110.54 8.69873 110.209 0.463434 110.001C-2.98023e-08 110 0 109.5 0 109.25C17.3872 109 34.7756 109.126 52.1613 108.963C68.8572 108.806 85.5497 108.18 102.245 108.129C107.031 108.114 108.09 106.295 108.072 101.928C107.939 68.2649 108 34.601 108 0.468657C108.75 2.98023e-08 109.5 0 110.625 0C111 35.7574 111 71.5148 111 107.633C149.265 107.633 186.317 107.633 224.371 107.633C224.371 103.941 224.29 100.244 224.393 96.5526C224.508 92.4196 224.948 88.2922 224.971 84.1609C225.046 70.1738 224.87 56.1845 225.036 42.199C225.2 28.4397 225.665 14.684 225.999 0.463362C226.444 -2.98023e-08 226.889 0 227.667 0ZM224.501 215.006C224.665 202.149 224.92 189.291 224.974 176.433C225.055 156.784 224.853 137.133 225.1 117.486C225.161 112.667 222.782 111.314 218.868 111.161C214.601 110.993 210.323 111.111 206.051 111.1C196.481 111.074 186.911 111.027 177.342 111.02C157.026 111.006 136.71 111.049 116.394 110.974C112.854 110.961 111.04 112.407 111.05 115.94C111.064 120.878 111.088 125.818 111.226 130.754C111.397 136.841 111.937 142.928 111.885 149.011C111.686 172.453 111.359 195.894 110.963 219.333C110.893 223.482 112.775 225.189 116.665 224.953C119.31 224.793 121.943 224.09 124.574 224.131C137.265 224.327 149.952 224.853 162.643 224.961C180.616 225.113 198.59 225.003 216.563 224.999C224.31 224.997 225.136 224.062 224.501 215.006Z" class="fill-[#231F20] dark:fill-gray-300"/>
                    <path d="M169.967 246.98C161.26 262.415 152.721 277.527 144.182 292.639C144.431 293.122 144.681 293.605 144.931 294.089C147.844 293.772 150.756 293.21 153.671 293.194C158.056 293.17 162.472 293.28 166.824 293.778C174.29 294.632 174.98 294.182 175.002 286.874C175.046 272.787 175.151 258.699 175.092 244.612C175.078 241.274 176.765 240.067 179.675 240.139C182.317 240.204 183.592 241.2 183.697 244.435C184.045 255.188 185.236 265.915 185.521 276.668C185.681 282.701 184.691 288.764 184.184 295.259C192.638 294.338 199.891 296.928 206.884 300.451C206.849 301.124 206.814 301.797 206.778 302.469C203.33 302.469 199.879 302.556 196.434 302.453C186.188 302.147 182.386 306.279 183.219 316.982C183.665 322.716 181.883 327.49 176.95 332.293C176.301 329.962 175.666 328.648 175.608 327.309C175.319 320.694 175.123 314.073 175.02 307.452C174.972 304.428 174.313 303.371 170.663 303.419C156.882 303.604 143.092 303.125 129.307 302.848C128.723 302.836 128.149 302.369 126.988 301.857C128.054 299.621 128.859 297.491 130.016 295.573C138.945 280.774 147.92 266.002 156.937 251.257C158.661 248.437 160.785 245.857 162.45 243.006C164.015 240.327 165.861 237.993 169.128 239.487C172.653 241.1 171.722 243.982 169.967 246.98Z" class="fill-[#231F20] dark:fill-gray-300"/>
                    <path d="M295.165 190.995C294.282 190.335 293.404 189.106 292.516 189.099C277.445 188.981 262.372 189.015 246.172 189.015C248.84 184.239 251.08 180.23 253.914 176.32C257.711 176.961 260.913 177.503 264.116 178.044C266.359 182.124 270.016 179.343 272.994 179.824C274.038 179.993 275.165 179.553 276.254 179.558C282.401 179.582 288.548 179.657 295.348 179.356C298.707 178.652 301.412 178.307 304.117 177.961C304.117 179.124 304.117 180.287 304.117 181.631C312.992 179.559 320.272 183.355 327.469 188.069C321.961 188.379 316.428 188.474 310.958 189.107C308.805 189.357 306.791 190.81 304.048 191.693C300.643 191.445 297.904 191.22 295.165 190.995Z" fill="#6158F1"/>
                    <path d="M264.441 177.89C260.916 177.502 257.713 176.96 254.23 176.157C261.683 162.78 269.382 149.646 277.172 136.566C279.08 133.362 280.893 129.933 283.506 127.384C285.047 125.881 288.075 125.902 290.435 125.238C290.581 127.294 291.554 129.786 290.737 131.334C286.067 140.177 280.945 148.78 276.029 157.494C272.234 164.219 268.516 170.987 264.441 177.89Z" fill="#6860F5"/>
                    <path d="M304.165 177.642C301.412 178.306 298.707 178.651 295.584 178.995C295.44 173.418 295.882 167.843 295.922 162.264C295.946 159.014 295.104 155.763 295.044 152.506C294.904 144.967 295.179 137.419 294.934 129.886C294.8 125.8 298.126 125.924 300.183 125.675C301.458 125.52 304.177 126.292 303.848 129.929C303.395 134.933 304.766 140.071 304.897 145.164C305.112 153.487 305.01 161.82 304.922 170.148C304.896 172.542 304.46 174.931 304.165 177.642Z" fill="#6860F5"/>
                    <path d="M295.092 191.453C297.904 191.219 300.643 191.445 303.716 191.888C303.686 195.461 303.32 198.814 302.497 202.583C299.748 203.331 297.457 203.662 295.166 203.994C295.117 199.966 295.068 195.939 295.092 191.453Z" fill="#5950EC"/>
                    <path d="M295.234 204.377C297.458 203.661 299.749 203.329 302.436 202.996C304.584 209.159 300.967 213.378 298.083 217.863C297.522 217.83 296.961 217.796 296.401 217.763C296.035 213.429 295.668 209.096 295.234 204.377Z" fill="#554BE7"/>
                    <path d="M29.1355 178.051C31.256 181.952 34.708 179.409 37.5518 179.726C38.3795 179.818 39.2834 179.043 40.1426 179.064C46.7598 179.226 53.3746 179.485 60.5124 179.355C63.6344 178.994 66.2341 178.993 68.8338 178.992C68.9479 179.808 69.0621 180.624 68.993 180.13C77.0422 181.981 84.6148 183.722 92.1874 185.463C92.1067 186.307 92.0261 187.151 91.9455 187.994C87.1874 188.327 82.4246 188.605 77.6734 189.017C75.4163 189.212 73.1813 189.664 70.0696 190.013C66.1911 190.016 63.1793 190.005 60.1675 189.994C55.4914 189.661 50.818 189.097 46.1386 189.041C34.5525 188.902 22.9636 188.996 9.92188 188.996C13.1038 184.136 15.7098 180.157 18.8733 176.34C22.6657 177.019 25.9006 177.535 29.1355 178.051Z" fill="#6158F1"/>
                    <path d="M29.451 177.874C25.8983 177.538 22.6634 177.022 19.1875 176.201C24.6302 166.098 30.2512 156.263 36.0205 146.516C39.6518 140.38 43.6265 134.447 47.2084 128.284C49.0102 125.184 51.7922 123.937 54.4178 125.563C55.5423 126.259 55.6832 130.542 54.6981 132.328C47.3671 145.616 39.6088 158.667 32.0764 171.846C31.047 173.647 30.5255 175.738 29.451 177.874Z" fill="#6860F5"/>
                    <path d="M68.9019 178.599C66.2333 178.995 63.6336 178.996 60.6008 178.995C60.1117 173.476 60.1516 167.955 59.9766 162.441C59.7361 154.864 59.1725 147.295 59.0678 139.718C59.0162 135.975 59.3354 132.139 60.2057 128.518C60.5265 127.184 62.8612 125.628 64.375 125.518C65.4964 125.437 67.7362 127.455 67.8298 128.666C68.4691 136.937 68.6626 145.242 69.0192 153.535C69.3121 160.347 69.6952 167.156 69.8868 173.971C69.9261 175.372 69.2937 176.792 68.9019 178.599Z" fill="#6860F5"/>
                    <path d="M66.8357 200.992C69.5643 207.852 65.823 212.838 61.0953 217.927C60.4041 212.566 59.713 207.205 59.5195 201.42C62.2901 200.994 64.5629 200.993 66.8357 200.992Z" fill="#554BE7"/>
                    <path d="M66.9088 200.611C64.5604 200.993 62.2876 200.994 59.589 200.993C59.3652 197.574 59.5671 194.156 59.9669 190.366C63.1766 190.005 66.1884 190.016 69.6569 190.035C69.0706 193.439 68.0276 196.834 66.9088 200.611Z" fill="#5C52EC"/>
                    <path d="M164.952 68.9979C152.043 68.9979 139.625 68.9979 126.016 68.9979C128.014 65.1967 129.311 62.3763 130.913 59.7414C138.509 47.2476 146.16 34.7865 153.852 22.3518C156.992 17.2765 160.006 12.0756 163.681 7.40792C164.803 5.98334 167.94 6.14537 170.154 5.58077C170.266 7.651 171.207 10.1755 170.361 11.7205C162.711 25.6839 154.735 39.4684 146.894 53.3276C145.931 55.0304 145.198 56.8641 143.738 59.9487C149.259 59.6993 153.759 59.3475 158.26 59.3396C161.886 59.3331 165.526 59.6221 169.137 59.9982C173.314 60.4331 175.142 59.1233 175.087 54.531C174.912 40.1049 175.278 25.6722 175.093 11.2463C175.045 7.50118 176.75 5.77938 179.825 5.57243C182.93 5.36354 183.712 7.54318 183.756 10.5799C183.948 23.8227 184.447 37.0608 184.787 50.3019C184.878 53.8296 184.801 57.3616 184.801 59.968C192.171 61.672 199.677 63.4074 207.183 65.1428C207.134 65.9496 207.084 66.7565 207.035 67.5633C204.252 68.002 201.482 68.5903 198.682 68.8383C195.729 69.0999 192.739 68.9355 189.779 69.1414C186.257 69.3864 184.373 71.4611 184.108 74.9327C183.857 78.2138 183.857 81.5178 183.515 84.7875C183.01 89.6188 181.407 93.9756 176.51 98.5492C175.931 91.6923 175.462 86.2356 175.018 80.7768C174.951 79.949 175.004 79.1114 175.001 78.2784C174.96 68.0348 175.831 69.0609 164.952 68.9979Z" class="fill-[#231F20] dark:fill-gray-300"/>
                    <path d="M67.77 52.5535C67.5593 55.5512 67.3023 58.1458 67.0207 60.9885C75.3303 60.5275 82.6473 62.1364 89.2111 66.3829C89.1863 66.9415 89.1614 67.5 89.1366 68.0586C85.9999 68.2155 82.8521 68.6226 79.7285 68.4836C69.2225 68.0161 65.7599 71.4561 66.2066 82.8169C66.4289 88.4702 64.7144 93.1545 60.4662 97.9034C59.656 96.3961 58.6714 95.3805 58.6077 94.3101C58.2582 88.4295 57.7895 82.5219 58.0212 76.6495C58.3001 69.5803 58.0542 69.0085 50.8221 69.004C37.3584 68.9957 23.8947 69.0017 9.05469 69.0017C10.9947 65.2629 12.3098 62.3433 13.955 59.6234C21.6891 46.8371 29.4774 34.0832 37.3253 21.3664C40.204 16.7017 43.0147 11.9397 46.4509 7.70443C47.6652 6.20766 50.6489 6.14636 52.8248 5.42969C52.9804 7.64898 54.045 10.3629 53.1487 12.0097C45.617 25.8487 37.7075 39.4816 29.9653 53.2068C28.941 55.0227 28.2179 57.0087 26.7358 60.2857C31.5206 59.8016 35.0875 59.1501 38.6539 59.1524C43.2583 59.1553 47.8714 59.5844 52.464 60.0109C56.4811 60.3839 58.1324 58.9671 58.0714 54.7131C57.8762 41.1085 57.9991 27.4994 58.0044 13.8921C58.0049 12.56 57.5421 10.8896 58.1672 9.96878C59.3407 8.24003 61.1526 6.94459 62.6989 5.46896C63.9525 6.93233 66.2262 8.34569 66.3008 9.86686C66.9912 23.9508 67.3024 38.0533 67.77 52.5535Z" class="fill-[#231F20] dark:fill-gray-300"/>
                    <path d="M67.1546 247.867C72.2883 250.548 77.9045 252.215 81.6698 255.817C89.6218 263.424 91.654 272.569 89.8514 284.918C93.9378 285.824 94.8385 288.767 94.3104 292.558C90.132 322.555 56.9353 335.064 35.9006 324.136C19.7755 315.759 11.8807 303.577 11.7431 285.258C11.67 275.533 15.986 268.447 20.5291 260.738C24.0796 254.713 29.1863 251.085 34.9617 248.037C45.4621 242.495 56.1323 242.239 67.1546 247.867ZM67.5549 256.82C61.2461 253.992 54.9837 252.525 47.7914 253.851C34.9097 256.227 25.387 265.128 21.8915 279.567C19.2227 290.592 24.6081 305.575 33.8848 311.883C52.5206 324.554 72.5692 318.093 83.2464 299.953C86.0443 295.2 88.1879 288.734 87.4557 283.499C85.8196 271.802 80.1738 261.88 67.5549 256.82Z" class="fill-[#231F20] dark:fill-gray-300"/>
                    <path d="M274.591 246.291C284.942 243.294 294.805 242.448 304.336 247.91C309.167 250.679 314.909 252.385 318.86 256.056C327.124 263.736 329.017 273.893 326.95 284.846C331.179 285.987 331.752 289.09 331.249 292.814C328.657 311.988 311.99 326.963 292.4 328.012C271.306 329.142 248.046 311.816 248.697 286.886C248.97 276.412 252.776 268.496 257.986 259.99C262.133 253.221 268.471 250.514 274.591 246.291ZM262.453 301.892C265.331 305.276 267.631 309.528 271.185 311.901C290.183 324.587 309.005 317.98 320.369 300.337C323.174 295.983 325.087 289.835 324.568 284.804C323.33 272.802 317.829 263.05 306.052 257.378C294.75 251.935 283.879 251.649 273.35 258.226C259.158 267.092 255.032 283.801 262.453 301.892Z" class="fill-[#231F20] dark:fill-gray-300"/>
                    <path d="M327.849 45.4488C327.436 47.4609 327.078 49.0752 326.707 50.7524C331.023 52.1214 332.128 54.8356 331.264 59.0722C327.088 79.5414 314.159 91.5211 294.633 93.4894C283.094 94.6526 272.02 91.4524 262.425 83.2646C251.708 74.1192 249.035 62.8013 248.76 49.6323C248.586 41.3332 252.482 35.21 256.158 28.5345C260.108 21.3622 265.971 16.7034 273.104 13.29C282.942 8.58218 292.879 8.55043 302.837 12.8901C305.713 14.1433 308.461 15.6923 311.35 16.9113C323.872 22.1955 327.194 32.844 327.849 45.4488ZM316.032 71.5497C327.379 58.8861 327.475 43.9513 316.462 31.3322C312.541 26.8402 306.401 24.0482 300.885 21.2432C293.043 17.2551 284.981 19.0318 277.19 21.956C264.965 26.5447 252.653 46.3412 260.843 64.4643C265.85 75.5454 273.867 81.9639 285.538 83.7606C297.628 85.6217 307.751 81.6248 316.032 71.5497Z" class="fill-[#231F20] dark:fill-gray-300"/>
                    <path d="M126.166 171.992C126.08 167.429 124.92 162.543 126.17 158.381C127.861 152.75 131.393 147.67 134.152 142.362C135.093 140.55 135.71 138.36 137.13 137.054C139.696 134.695 142.654 132.708 145.625 130.85C158.393 122.866 171.002 122.815 184.283 130.4C189.717 133.504 196.124 134.826 199.391 140.893C203.759 149.005 207.279 157.264 202.723 166.851C202.475 167.104 202.547 166.973 202.316 166.63C201.669 164.384 201.345 162.456 200.822 160.584C198.484 152.22 194.903 144.9 186.81 140.274C174.068 132.991 161.263 131.37 148.941 140.161C138.278 147.767 134.438 159.06 134.671 171.971C131.535 171.983 128.85 171.988 126.166 171.992Z" fill="#6860F5"/>
                    <path d="M194.046 199.106C178.994 212.694 153.214 211.647 139.414 197.204C143.141 196.144 146.629 195.551 150.489 194.984C161.427 200.287 172.117 200.946 183.24 196.145C187.027 197.307 190.536 198.207 194.046 199.106Z" fill="#5249E7"/>
                    <path d="M194.357 198.958C190.535 198.206 187.025 197.307 183.383 195.835C187.82 191.136 192.39 187.009 197.229 183.141C199.704 183.946 201.909 184.493 204.115 185.041C203.046 191.057 199.034 195.054 194.357 198.958Z" fill="#5950EC"/>
                    <path d="M150.117 194.96C146.629 195.553 143.141 196.147 139.274 196.896C134.076 194.761 131.304 190.85 130.355 185.409C133.504 184.313 136.276 183.601 139.358 183.051C143.151 187.128 146.634 191.044 150.117 194.96Z" fill="#5950EC"/>
                    <path d="M204.445 184.879C201.911 184.495 199.706 183.948 197.395 182.806C199.042 177.132 200.795 172.053 202.548 166.974C202.548 166.974 202.476 167.105 202.409 167.139C203.585 166.836 204.828 166.5 206.445 166.062C210.939 172.682 207.299 178.66 204.445 184.879Z" fill="#635AF2"/>
                    <path d="M139.047 182.889C136.275 183.601 133.503 184.313 130.309 185.033C128.598 180.966 127.309 176.891 126.094 172.405C128.851 171.99 131.536 171.985 134.995 172.16C136.863 175.856 137.955 179.372 139.047 182.889Z" fill="#6158F1"/>
                </svg>
            </div>

            <h4 class="mt-6 text-xl font-bold ">Not found</h4>
            <p class="mt-4 text-center text-sm dark:text-gray-500">The resource you requested was not found or got deleted</p>
            <a class="mt-12 flex w-max justify-center items-center gap-2 p-3 text-white bg-[var(--color-primary)] rounded" href="/">
                <svg width="14" height="12" viewBox="0 0 14 12" stroke="currentColor">
                    <path d="M5.66667 10.6667L1 6.00001M1 6.00001L5.66667 1.33334M1 6.00001L13 6.00001" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span>Go to Home</span>
            </a>
        </div>
    {{else}}
        <h1 class="gh-error-code">{{statusCode}}</h1>
        <p class="gh-error-description">{{message}}</p>
        <a class="mt-12 flex w-max justify-center items-center gap-2 p-3 text-white bg-[var(--color-primary)] rounded" href="/">
            <svg width="14" height="12" viewBox="0 0 14 12" stroke="currentColor">
                <path d="M5.66667 10.6667L1 6.00001M1 6.00001L5.66667 1.33334M1 6.00001L13 6.00001" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <span>Go to Home</span>
        </a>

        {{#if errorDetails}}
            <section class="gh-error-stack">
                <h4>Theme errors:</h4>
                <ul class="gh-error-stack-list">
                    {{#foreach errorDetails}}
                    <li>
                        <h5 class="gh-error-stack-function">{{{rule}}}</h5>

                        {{#foreach failures}}
                        <span class="gh-error-stack-file"><strong>Ref:</strong> {{ref}}</span><br>
                        <span class="gh-error-stack-file"><strong>Message:</strong> {{message}}</span>
                        {{/foreach}}
                    </li>
                    {{/foreach}}
                </ul>
            </section>
        {{/if}}
    {{/match}}



    {{!-- <foot> --}}
    {{ghost_foot}}
    {{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>