{{!< default}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.18.2/tocbot.css">
<div class='progress-bar fixed top-0 left-0 hidden z-20'></div>

{{#post }}
  <article class="relative kg-width-wide mt-6">
    <header class="flex flex-col lg:flex-row gap-12 items-center text-center lg:text-left">
      <div class="lg:w-[40%] lg:order-2 flex flex-col items-center lg:items-start ">
        <div class="flex flex-wrap gap-2 items-center">
          <div class="relative flex flex-wrap items-center">
            {{#foreach authors }}
              <a href="{{url}}" title="{{ name }}" class="{{#if @index }} ml-[-10px] {{/if}} hover:z-20 cursor-pointer h-8 w-8">
                {{#if profile_image}}
                  <img src="{{ profile_image }}" class=" block relative w-full h-full rounded-full border  border-[var(--color-primary)]" alt="profile picture of {{ name }}">
                {{else}}
                  <div class="h-full w-full rounded-full flex text-white items-center justify-center dark:bg-white dark:text-black bg-[#1763f1]">{{ name.[0] }}</div>
                {{/if}}
              </a>
            {{/foreach }}
          </div>

          <div>
            {{#foreach authors }}            
              {{#if @index }}
                <span class="" aria-hidden="true">,</span>
              {{/if}}
              <a href="{{url}}" class="hover:underline capitalize">{{name}}</a>
            {{/foreach }}
          </div>

        </div>
        <div class="mt-4 flex items-center gap-2 justify-center font-bold leading-sm capitalize text-indigo-500 flex-wrap">
          {{#if primary_tag}}
            {{#foreach tags }}
            {{#if @index }}
              <span class="" aria-hidden="true">&bull;</span>
            {{/if}}
              <a href="{{url}}" class="line-clamp max-w-[150px] xl:max-w-[170px]">{{name}}</a>
            {{/foreach }}
          {{/if}}
        </div>
        <h1 class="text-4xl text-sp font-bold mt-6 leading-[3rem]">{{title}}</h1>
        <p class="text-gray-500 dark:text-gray-400 mt-6 line-clamp-2">{{ excerpt }}</p>
        <p class="mt-4 text-sm text-gray-400 dark:text-gray-500 tracking-tight flex items-center gap-2"> {{date}} <span aria-hidden="true">&bull;</span> {{reading_time minute="1 min" minutes="% mins"}}</p>
      </div>

      {{#if feature_image}}
        <figure class="lg:w-[60%] lg:order-1">
          {{> "picture" picture_classes="mt-6 lg:mt-0 rounded max-h-[460.67px] w-full object-cover"  }}
        </figure>
      {{/if}}
    </header>
    <hr class="my-12 kg-width-wide border-gray-300 dark:border-[#333]">
    <div class="relative mt-6 kg-width-full gh-canvas">
        <div class="hidden xl:block w-max z-10 dark:bg-transparent right-auto bg-transparent absolute lg:left-[-12.5rem] xl:left-[-15rem] h-full">
          <div class="sticky top-10 max-w-[170px] bg-white dark:bg-[#151719] pr-3 pb-3" id="original-toc">
            <p class="text-lg flex items-center gap-3">TOC</p>
              <div class="toc-container text-sm relative mt-4"></div>
          </div>
        </div>
        <div class="prose kg-width-full gh-canvas ml-auto max-w-none dark:prose-invert">
          {{content}}
        </div>
        <div class="fixed z-10 bg-white dark:bg-[#151719] lg:dark:bg-transparent  w-full left-0 bottom-0 flex justify-center h-max py-3 lg:py-0 lg:left-auto lg:bg-transparent lg:block lg:absolute lg:top-0 lg:right-[-8rem] 2lg:right-[-12rem] 3lg:right-[-14rem]  xl:right-[-16rem] lg:w-16 lg:h-full">
          <div class="lg:sticky top-44 right-0 flex lg:flex-col gap-3 sm:gap-5">
            <button onclick="openTOC()" class="xl:hidden hover:text-[var(--color-primary)] text-xs relative bg-white dark:bg-[#151719] h-12 w-12 flex justify-center items-center rounded-full border dark:border-gray-600">
              TOC
            </button>
            <button onclick="scrollToTop()" class="group relative bg-white dark:bg-[#151719] h-12 w-12 flex justify-center items-center rounded-full border dark:border-gray-600">
              <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-gray-500 dark:stroke-gray-500 group-hover:stroke-[var(--color-primary)]">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 19.5v-15m0 0l-6.75 6.75M12 4.5l6.75 6.75" />
              </svg>
              <svg class="absolute w-full h-full top-0 left-0" viewBox="2 -2 28 36">
                <circle class="progress-svg fill-transparent stroke-2 " r="16" cx="16" cy="16" style="fill: none; stroke-dashoffset: 100; stroke-linecap: round; stroke: var(--color-primary); stroke-dasharray: 100 100; stroke-linecap: round; stroke-width: 2px;"></circle>
              </svg>
            </button>
            <a href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&text={{title}}&hashtags={{@site.title}}" target="_blank" class="group relative bg-white dark:bg-[#151719] h-12 w-12 flex justify-center items-center rounded-full border dark:border-gray-600">
              <svg class="h-4 w-4 group-hover:fill-[var(--color-primary)] fill-gray-500 dark:fill-gray-500" viewBox="0 0 333333 333333" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M333328 63295c-12254 5480-25456 9122-39241 10745 14123-8458 24924-21861 30080-37819-13200 7807-27871 13533-43416 16596-12499-13281-30252-21537-49919-21537-37762 0-68336 30591-68336 68330 0 5326 591 10537 1748 15562-56820-2880-107194-30081-140915-71467-6049 10435-9250 22300-9250 34367v8c0 23696 12031 44654 30389 56876-11202-333-21739-3457-30991-8519v854c0 33138 23554 60789 54852 67039-5734 1557-11787 2417-18023 2417-4417 0-8673-455-12905-1224 8742 27139 33975 46923 63857 47500-23430 18356-52858 29286-84939 29286-5537 0-10931-339-16318-984 30326 19458 66251 30727 104844 30727 125735 0 194551-104198 194551-194543 0-3002-67-5911-191-8852 13354-9553 24932-21609 34097-35333l31-31-6 4z"></path>
              </svg>
            </a>
            <a href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}" target="_blank" class="group relative bg-white dark:bg-[#151719] h-12 w-12 flex justify-center items-center rounded-full border dark:border-gray-600">
              <svg class="w-4 h-4 group-hover:fill-[var(--color-primary)] fill-gray-500 dark:fill-gray-500" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 640 640">
                <path d="M380.001 120.001h99.993V0h-99.993c-77.186 0-139.986 62.8-139.986 139.986v60h-80.009V320h79.985v320h120.013V320h99.994l19.996-120.013h-119.99v-60.001c0-10.843 9.154-19.996 19.996-19.996v.012z"></path>
              </svg>
            </a>
            <button onclick="copyToClipboard()" class="group relative bg-white dark:bg-[#151719] h-12 w-12 flex justify-center items-center rounded-full border dark:border-gray-600">
              <svg class="h-4 w-4 group-hover:fill-[var(--color-primary)] fill-gray-500 dark:fill-gray-500" viewBox="0 0 111.07 122.88" >
                <g>
                  <path class="st0" d="M97.67,20.81L97.67,20.81l0.01,0.02c3.7,0.01,7.04,1.51,9.46,3.93c2.4,2.41,3.9,5.74,3.9,9.42h0.02v0.02v75.28 v0.01h-0.02c-0.01,3.68-1.51,7.03-3.93,9.46c-2.41,2.4-5.74,3.9-9.42,3.9v0.02h-0.02H38.48h-0.01v-0.02 c-3.69-0.01-7.04-1.5-9.46-3.93c-2.4-2.41-3.9-5.74-3.91-9.42H25.1c0-25.96,0-49.34,0-75.3v-0.01h0.02 c0.01-3.69,1.52-7.04,3.94-9.46c2.41-2.4,5.73-3.9,9.42-3.91v-0.02h0.02C58.22,20.81,77.95,20.81,97.67,20.81L97.67,20.81z M0.02,75.38L0,13.39v-0.01h0.02c0.01-3.69,1.52-7.04,3.93-9.46c2.41-2.4,5.74-3.9,9.42-3.91V0h0.02h59.19 c7.69,0,8.9,9.96,0.01,10.16H13.4h-0.02v-0.02c-0.88,0-1.68,0.37-2.27,0.97c-0.59,0.58-0.96,1.4-0.96,2.27h0.02v0.01v3.17 c0,19.61,0,39.21,0,58.81C10.17,83.63,0.02,84.09,0.02,75.38L0.02,75.38z M100.91,109.49V34.2v-0.02h0.02 c0-0.87-0.37-1.68-0.97-2.27c-0.59-0.58-1.4-0.96-2.28-0.96v0.02h-0.01H38.48h-0.02v-0.02c-0.88,0-1.68,0.38-2.27,0.97 c-0.59,0.58-0.96,1.4-0.96,2.27h0.02v0.01v75.28v0.02h-0.02c0,0.88,0.38,1.68,0.97,2.27c0.59,0.59,1.4,0.96,2.27,0.96v-0.02h0.01 h59.19h0.02v0.02c0.87,0,1.68-0.38,2.27-0.97c0.59-0.58,0.96-1.4,0.96-2.27L100.91,109.49L100.91,109.49L100.91,109.49 L100.91,109.49z"></path>
                </g>
              </svg>
            </button>
          </div>
        </div>
    </div>
  </article>

  <div class="flex gap-4 items-center mt-16">
    <div class="border-0 border-b w-full border-b-gray-200 dark:border-b-gray-500"></div>
    <p class="text-gray-500 text-xs uppercase dark:text-gray-400">end</p>
    <div class="border-0 border-b w-full border-b-gray-200 dark:border-b-gray-500"></div>
  </div>
{{/post }}

  {{#post}}
    {{#if comments}}
      <div class="mt-6">
          <div class="comments-loading flex justify-center my-6">
            <svg class="w-6 h-6 animate-spin" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
            </svg>
          </div>
          <div class="comments hidden">
            {{comments mode="light"}}
          </div>
      </div>
    {{/if}}
  {{/post}}

  {{#if @member }}
    <hr class="border-gray-300 dark:border-[#333] mt-8">
  {{/if}}
  <div class="mt-8 pb-24">
    {{> "related-posts" title_classes="mt-8"  }}
  </div>


<div id="mobile-toc-modal-container" class="fixed z-[9999] hidden justify-center items-center w-full bottom-[72px] lg:bottom-auto lg:top-0 lg:h-1/2">
  <div id="mobile-toc-modal" class="bg-white dark:bg-[#151719] border dark:border-gray-600 w-full md:w-[450px] flex flex-col justify-center items-center p-3 pb-6 relative">
    <button onclick="openTOC()" class="absolute top-2 right-2 z-20 flex h-10 w-10 items-center justify-center rounded-md hover:bg-[#E3E8F3] dark:hover:bg-blue-700">
      <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
    <p class="font-bold">TOC</p>
  </di>
</div>

{{#contentFor "scripts"}}{{/contentFor}}

<script>

  function openTOC(e){
    let mobileTocModal = document.querySelector('#mobile-toc-modal')
    let mobileTocModalContainer = document.querySelector('#mobile-toc-modal-container')
    let originalToc = document.querySelector('#original-toc')

    mobileTocModalContainer.classList.toggle('hidden')
    mobileTocModalContainer.classList.toggle('flex')
 
    mobileTocModal.appendChild(originalToc.querySelector('.toc-container'))
  }

  function scrollToTop(e){
    window.scrollTo({top: 0, behavior: 'smooth'})
  }

  function copyToClipboard(){
    try{
      navigator.clipboard.writeText(window.location.href)
      showSuccessToast("Link copied to clipboard")
    }catch(e){
      showErrorToast("something went wrong")
      console.log(e)
    }
  }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.18.2/tocbot.min.js"></script>
<script>
  tocbot.init({
    // Where to render the table of contents.
    tocSelector: '.toc-container',
    // Where to grab the headings to build the table of contents.
    contentSelector: '.prose',
    // Which headings to grab inside of the contentSelector element.
    headingSelector: 'h1, h2, h3, h4, h5, h6',
    // For headings inside relative or absolute positioned containers within content.
    hasInnerContainers: true,
    
    headingsOffset: 100,
    scrollSmoothOffset: -100
  });
</script>