{{!< default}}

<div class="kg-width-wide py-12">
    <div class="flex gap-6 flex-wrap justify-center">
        {{#get 'tags' limit='all' include='count.posts'}}
            {{#if tags }}
                
                {{#foreach tags}}
                    <div class="w-[30%] {{#match @index 2 }} 2lg:w-[20%] w-[25%] min-w-[150px] h-[220px] md:min-w-[200px] md:h-[270px] {{else match @index 3 }} w-auto 2lg:w-[20%] min-w-[150px] h-[220px] 2lg:min-w-[200px] 2lg:h-[270px] {{else match @index '>' 3 }} basis-1 w-[20%] min-w-[150px] h-[220px] {{ else }} 2lg:w-[20%] w-[25%] min-w-[150px] h-[220px] md:min-w-[200px] md:h-[270px] {{/match}}">
                        <div class="flex flex-col justify-center items-center gap-2">
                            <a href="{{ url }}" class="flex justify-center items-center relative">
                                {{#match @index 3 }}  
                                    {{> "picture" picture_classes="block object-cover w-[150px] h-[150px] 2lg:w-[200px] 2lg:h-[200px] hover:scale-105 rounded-full p-[10px] border border-dashed border-gray-400"  }}
                                {{else match @index '<' 4}}
                                    {{> "picture" picture_classes="block object-cover w-[150px] h-[150px] md:w-[200px] md:h-[200px] hover:scale-105 rounded-full p-[10px] border border-dashed border-gray-400"  }}    
                                {{else}}
                                    {{> "picture" picture_classes="block object-cover w-[150px] h-[150px] hover:scale-105 rounded-full p-[10px] border border-dashed border-gray-400"  }}
                                {{/match}}
                            </a>
                            <h2><a href="{{ url }}" class="font-bold text-sm">{{ name }}</a></h2>
                            <span class="text-xs">{{plural count.posts empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}</span>
                        </div>
                    </div>
                {{/foreach}}
            
            {{else}}
                <div class="flex justify-center items-center h-[60vh] text-xl">
                    No tags found
                </div>
            {{/if}}      
             
        {{/get}}
    </div>
</div>